@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/* cmn
--------------------------------------------------------------------*/
/*btn*/
.btnOrange01:hover,
.btnOrange02:hover,
.btnGray01:hover,
.btnBlack01:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.btnOrange01 a,
.btnOrange02 a,
.btnGray01 a,
.btnBlack01 a {
	text-decoration: none;
}


.section01 {
	padding: 0 32px;
}
.section01 .mainBlock {
	float: left;
	width: 682px;
}
.section01 .sideBlock {
	float: right;
	width: 214px;
}


.registInfo {
	background: #eeecdb;
	padding: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.registInfo .name {
	margin-bottom: 10px;
	font-size: 148%;
	font-weight: bold;
	text-align: left;
}
.registInfo .linktext {
	margin-bottom: 10px;
	font-size: 113%;
	text-align: left;
}
.registInfo .linktext a {
	background: url(/mypage/img/index_icon_02.png) left center no-repeat;
	padding-left: 15px;
}
.registInfo .note {
	background: url(/mypage/img/index_icon_08.png) left top no-repeat;
	padding-left: 23px;
	text-align: left;
}
.registInfo .text {
	margin-bottom: 10px;
	font-size: 148%;
	font-weight: bold;
}
.registInfo .btnBlack01 {
	display: inline-block;
	width: 70%;
	background: #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.registInfo .btnBlack01 a {
	display: block;
	background: url(/mypage/img/index_icon_03.png) 12px center no-repeat;
	padding: 7px 10px 6px 25px;
	color: #ffffff;
}


.inquiryCounter {
	background: #eae6e2;
	padding: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.inquiryCounter .title {
	margin-bottom: 10px;
	font-size: 148%;
	font-weight: bold;
	text-align: left;
}
.inquiryCounter .text {
	margin-bottom: 10px;
	text-align: left;
}
.inquiryCounter .btnBlack01 {
	display: inline-block;
	width: 70%;
	background: #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.inquiryCounter .btnBlack01 a {
	display: block;
	background: url(/mypage/img/index_icon_03.png) 12px center no-repeat;
	padding: 7px 10px 6px 25px;
	color: #ffffff;
}


.bnrBox li {
	margin-bottom: 10px;
}
.bnrBox li a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}


.bnrBlock {
	background: #eceae4;
	padding: 32px;
	margin-top: 40px;
}
.bnrBlock li {
	float: left;
	margin-left: 20px;
}
.bnrBlock li:first-child {
	margin: 0;
}
.bnrBlock li a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}

.columnList dl {
	float: left;
	width: 214px;
	margin-left: 20px;
}
.columnList dl:first-child {
	margin: 0;
}
.columnList dl a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.columnList dt {
	margin-bottom: 5px;
}
.columnList dd {
	font-size: 88%;
}
.columnList dd .title {
	font-weight: bold;
}
.columnList dd .number {
	display: inline-block;
	margin-right: 0.5em;
	font-weight: bold;
}


/* mypage top
--------------------------------------------------------------------*/
.mypageTop .mypageTitle {
	background: #ffffff url(/mypage/img/index_h1_02.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 102px;
	padding: 30px 0 0 39px;
	margin-bottom: 30px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .mypageTitle h1 {
	background: url(/mypage/img/index_h1_01.png) left center no-repeat;
	padding: 6px 0 0 70px;
	font-size: 213%;
	font-weight: bold;
}
.mypageTop .mypageTitle02 {
	position: relative;
	background: #ffffff url(/mypage/img/index_h1_03.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 206px;
	padding-top: 30px;
	margin-bottom: 30px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .mypageTitle02 h1 {
	background: url(/mypage/img/index_h1_01.png) left center no-repeat;
	padding: 6px 0 0 70px;
	margin-left: 39px;
	font-size: 213%;
	font-weight: bold;
}
.mypageTop .mypageTitle02 .btnBlock01 {
	position: absolute;
	background: url(/mypage/img/index_bg_03.png);
	display: table;
	width: 100%;
	bottom: 0px;
	left: 0px;
}
.mypageTop .mypageTitle02 .btnBlock01 .text {
	display: table-cell;
	width: 66%;
	background: url(/\mypage/img/index_arr_02.png) right center no-repeat;
	padding: 30px;
	color: #ffffff;
	font-size: 148%;
	font-weight: bold;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .mypageTitle02 .btnBlock01 .btn {
	display: table-cell;
	width: 34%;
	padding: 30px;
	text-align: right;
	vertical-align: middle;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .btnBlock01 .btnOrange02 {
	display: inline-block;
	background: #f6a900;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.mypageTop .btnBlock01 .btnOrange02 a {
	display: block;
	background: url(/common/img/cmn_arrow_06.png) 20px center no-repeat;
	padding: 8px 49px;
	color: #ffffff;
	font-size: 148%;
	font-weight: bold;
	text-align: center;
}


.mypageTop .noticeBlock {
	background: #ffffff;
	padding: 20px;
	margin-bottom: 30px;
}
.mypageTop .noticeBlock h2 {
	background: url(/mypage/img/index_icon_04.png) left 0.1em no-repeat;
	padding: 1px 0 0 27px;
	margin-bottom: 15px;
	font-size: 148%;
	font-weight: bold;
}
.mypageTop .noticeBlock dl {
	margin-top: -15px;
	font-size: 113%;
}
.mypageTop .noticeBlock dt {
	clear: both;
	float: left;
	width: 185px;
	margin-top: 15px;
}
.mypageTop .noticeBlock dt span {
	display: inline-block;
	width: 7.2em;
	padding: 3px 0;
	margin-right: 20px;
	color: #ffffff;
	font-size: 81%;
	font-weight: bold;
	text-align: center;
}
.mypageTop .noticeBlock dt span.iconNotice01 {
	background: #eca83d;
}
.mypageTop .noticeBlock dt span.iconNotice02 {
	background: #d8000f;
}
.mypageTop .noticeBlock dd {
	float: right;
	width: 435px;
	margin-top: 15px;
}


.mypageTop .favoritesProperty,
.mypageTop .viewedProperty {
	margin-bottom: 30px;
}
.mypageTop .favoritesProperty .title,
.mypageTop .viewedProperty .title {
	margin-bottom: 15px;
}
.mypageTop .favoritesProperty .title h2 {
	display: inline-block;
	background: url(/mypage/img/index_icon_05.png) left top no-repeat;
	padding-left: 27px;
	font-size: 148%;
	font-weight: bold;
}
.mypageTop .viewedProperty .title h2 {
	display: inline-block;
	background: url(/mypage/img/index_icon_06.png) left 0.1em no-repeat;
	padding-left: 27px;
	font-size: 148%;
	font-weight: bold;
}
.mypageTop .favoritesProperty .title p,
.mypageTop .viewedProperty .title p {
	float: right;
	margin-top: 2px;
	font-size: 113%;
}
.mypageTop .favoritesProperty .title p a,
.mypageTop .viewedProperty .title p a {
	background: url(/mypage/img/index_icon_02.png) left center no-repeat;
	padding-left: 17px;
}
.mypageTop .favoritesProperty .listBlock .listBox,
.mypageTop .viewedProperty .listBlock .listBox {
	float: left;
	width: 214px;
	margin-left: 20px;
}
.mypageTop .favoritesProperty .listBlock .listBox:first-child,
.mypageTop .viewedProperty .listBlock .listBox:first-child {
	margin-left: 0;
}
.mypageTop .favoritesProperty .listBlock .listBox dl,
.mypageTop .viewedProperty .listBlock .listBox dl {
	margin-bottom: 14px;
}
.mypageTop .favoritesProperty .listBlock .listBox dt,
.mypageTop .viewedProperty .listBlock .listBox dt {
	float: left;
	display: table;
	table-layout: fixed;
	width: 86px;
	text-align: center;
}
.mypageTop .favoritesProperty .listBlock .listBox dt a,
.mypageTop .viewedProperty .listBlock .listBox dt a {
	display: table-cell;
	width: 86px;
	height: 86px;
	vertical-align: middle;
}
.mypageTop .favoritesProperty .listBlock .listBox dt a img,
.mypageTop .viewedProperty .listBlock .listBox dt a img {
	width: auto;
	height: auto;
	max-width: 86px;
	max-height: 86px;
}
.mypageTop .favoritesProperty .listBlock .listBox dt a:hover img,
.mypageTop .viewedProperty .listBlock .listBox dt a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.mypageTop .favoritesProperty .listBlock .listBox dd,
.mypageTop .viewedProperty .listBlock .listBox dd {
	padding-left: 100px;
}
.mypageTop .favoritesProperty .listBlock .listBox dd p.icoMansion01,
.mypageTop .viewedProperty .listBlock .listBox dd p.icoMansion01 {
	display: inline-block;
	background: #53b76f;
	padding: 3px 9px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 88%;
	font-weight: bold;
}
.mypageTop .favoritesProperty .listBlock .listBox dd p.name,
.mypageTop .viewedProperty .listBlock .listBox dd p.name {
	margin-bottom: 5px;
	font-size: 113%;
	font-weight: bold;
}
.mypageTop .favoritesProperty .listBlock .listBox .btnOrange01,
.mypageTop .viewedProperty .listBlock .listBox .btnOrange01 {
	float: left;
	display: inline-block;
	background: #ff6c00;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.mypageTop .favoritesProperty .listBlock .listBox .btnOrange01 a,
.mypageTop .viewedProperty .listBlock .listBox .btnOrange01 a {
	display: block;
	background: url(/mypage/img/index_icon_03.png) 8px center no-repeat;
	padding: 7px 10px 5px 15px;
	color: #ffffff;
}
.mypageTop .favoritesProperty .listBlock .listBox .btnGray01,
.mypageTop .viewedProperty .listBlock .listBox .btnGray01 {
	float: right;
	display: inline-block;
	background: #565656;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.mypageTop .favoritesProperty .listBlock .listBox .btnGray01 a,
.mypageTop .viewedProperty .listBlock .listBox .btnGray01 a {
	display: block;
	background: url(/mypage/img/index_icon_03.png) 8px center no-repeat;
	padding: 7px 10px 5px 15px;
	color: #ffffff;
}


.mypageTop .requestProperty .title {
	margin-bottom: 25px;
}
.mypageTop .requestProperty .title h2 {
	background: url(/mypage/img/index_icon_07.png) left 0.1em no-repeat;
	padding-left: 27px;
	margin-bottom: 15px;
	font-size: 148%;
	font-weight: bold;
}
.mypageTop .requestProperty .title p {
	font-size: 113%;
}
.mypageTop .requestProperty .conditionsList h3 {
	background: #e5e3de;
	padding: 10px 20px 6px;
	font-size: 130%;
	font-weight: bold;
}
.mypageTop .requestProperty .conditionsList h3 span {
	display: inline-block;
	margin-left: 10px;
	font-size: 81%;
}
.mypageTop .requestProperty .conditionsList .listInner {
	background: #ffffff;
	padding: 20px;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox {
	background: url(/mypage/img/index_bg_02.png) left bottom repeat-x;
	padding-bottom: 18px;
	margin-bottom: 18px;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .conditions {
	float: left;
	margin-top: -10px;
	font-size: 113%;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox dt {
	clear: both;
	float: left;
	background: url(/mypage/img/index_arr_01.png) right center no-repeat;
	padding-right: 30px;
	margin-top: 10px;
    font-weight: bold;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox dd {
	float: left;
	width: 400px;
	margin: 10px 0 0 15px;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .btn {
	float: right;
	width: 110px;
	margin-top: 3px;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .btnBlack01 {
	display: inline-block;
	background: #2b2b2b;
	width: 110px;
	margin-bottom: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .btnBlack01 a {
	display: block;
	background: url(/mypage/img/index_icon_01.png) 12px center no-repeat;
	padding: 7px 10px 5px 25px;
	color: #ffffff;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .btnGray01 {
	display: inline-block;
	background: #dedede;
	width: 110px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
}
.mypageTop .requestProperty .conditionsList .listInner .listBox .btnGray01 a {
	display: block;
	background: url(/mypage/img/index_icon_02.png) 12px center no-repeat;
	padding: 7px 10px 5px 25px;
	color: #2b2b2b;
}
.mypageTop .requestProperty .conditionsList .listInner .btnBox {
	text-align: center;
}
.mypageTop .requestProperty .conditionsList .listInner .btnBox .btnOrange01 {
	display: inline-block;
	background: #f7a900;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 130%;
	font-weight: bold;
}
.mypageTop .requestProperty .conditionsList .listInner .btnBox .btnOrange01 a {
	display: block;
	background: url(/mypage/img/index_icon_01.png) 12px center no-repeat;
	padding: 9px 15px 7px 30px;
	color: #ffffff;
}

.mypageTop .bgBlock01 {
	background: #f9ecd0;
	padding: 20px;
}
.mypageTop .bgBlock01 h2 {
	font-size: 213%;
	text-align: center;
}
.mypageTop .bgBlock01 .listBlock01 {
	margin-top: 20px;
}
.mypageTop .bgBlock01 .listBlock01 dl {
	float: right;
	width: 311px;
	background: #ffffff;
	padding: 20px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .bgBlock01 .listBlock01 dl:first-child {
	float: left;
}
.mypageTop .bgBlock01 .listBlock01 dl dt {
	margin-bottom: 10px;
}
.mypageTop .bgBlock01 .listBlock01 dl dt .img {
	margin-bottom: 10px;
	text-align: center;
}
.mypageTop .bgBlock01 .listBlock01 dl dt .title {
	font-size: 130%;
	font-weight: bold;
}
.mypageTop .bgBlock01 .listBlock01 dl dd {
	font-size: 113%;
}
.mypageTop .bgBlock01 .listBlock01 dl dd ul li {
	margin-top: 10px;
	text-indent: -1em;
	padding-left: 1em;
}
.mypageTop .bgBlock01 .listBlock01 dl dd ul li:first-child {
	margin-top: 0;
}

.mypageTop .btnBlock02 {
	display: table;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 30px;
}
.mypageTop .btnBlock02 .text {
	display: table-cell;
	width: 58%;
	background: url(/\mypage/img/index_arr_03.png) right center no-repeat;
	padding: 20px;
	font-size: 148%;
	font-weight: bold;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .btnBlock02 .btn {
	display: table-cell;
	width: 42%;
	padding: 20px;
	text-align: right;
	vertical-align: middle;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.mypageTop .btnBlock02 .btnOrange02 {
	display: inline-block;
	background: #f6a900;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.mypageTop .btnBlock02 .btnOrange02 a {
	display: block;
	background: url(/common/img/cmn_arrow_06.png) 20px center no-repeat;
	padding: 8px 49px;
	color: #ffffff;
	font-size: 148%;
	font-weight: bold;
	text-align: center;
}


/* information
--------------------------------------------------------------------*/
.mypageInfo h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 15px;
}


.mypageInfo .noticeBlock {
	background: #ffffff;
	padding: 20px;
	text-align: center;
}
.mypageInfo .noticeBlock dl {
	margin-bottom: 30px;
	text-align: left;
}
.mypageInfo .noticeBlock dt {
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: 130%;
}
.mypageInfo .noticeBlock dt span {
	float: left;
	display: inline-block;
	width: 7.2em;
	padding: 2px 0;
	margin-right: 15px;
	color: #ffffff;
	font-size: 71%;
	font-weight: bold;
	text-align: center;
}
.mypageInfo .noticeBlock dt span.iconNotice01 {
	background: #eca83d;
}
.mypageInfo .noticeBlock dt span.iconNotice02 {
	background: #d8000f;
}
.mypageInfo .noticeBlock dt .date {
	margin-bottom: 5px;
}
.mypageInfo .noticeBlock dt .subject {
	clear: both;
}
.mypageInfo .noticeBlock dd {
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 15px;
	font-size: 113%;
}
.mypageInfo .noticeBlock dd p {
	margin-top: 20px;
}
.mypageInfo .noticeBlock dd p:first-child {
	margin: 0;
}
.mypageInfo .noticeBlock .btnBlack01 {
	display: inline-block;
	background: #2b2b2b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 113%;
	font-weight: bold;
}
.mypageInfo .noticeBlock .btnBlack01 a {
	display: block;
	background: url(/mypage/img/index_icon_01.png) 12px center no-repeat;
	padding: 10px 10px 8px 25px;
	color: #ffffff;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
/*====================================================================
 contents
====================================================================*/
/*cmn
--------------------------------------------------------------------*/
	.section01 {
		padding: 0;
	}
	.section01 .mainBlock {
		float: none;
		width: 100%;
	}
	.section01 .sideBlock {
		float: none;
		width: 100%;
	}
	
	
	.registInfo {
		padding: 15px 10px;
		margin-bottom: 10px;
	}
	.registInfo .name {
		font-size: 130%;
	}
	.registInfo .linktext {
		background: #2b2b2b;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		font-weight: bold;
	}
	.registInfo .linktext a {
		display: block;
		background: url(/mypage/img/index_icon_01.png) 15px center no-repeat;
		padding: 10px 0;
		color: #ffffff;
		text-align: center;
	}
	.registInfo .note {
		background: url(/mypage/img/index_icon_08.png) left top no-repeat;
		padding-left: 23px;
	}
	.registInfo .text {
		font-size: 130%;
	}
	.registInfo .btnBlack01 {
		display: block;
		width: 100%;
	}
	
	
	.inquiryCounter {
		padding: 15px 10px;
		margin-bottom: 10px;
	}
	.inquiryCounter .title {
		font-size: 130%;
	}
	.inquiryCounter .text {
		font-size: 113%;
	}
	.inquiryCounter .btnBlack01 {
		display: block;
		width: 100%;
	}
	
	
	.bnrBox {
		display: none;
	}


	.bnrBlock {
		background: #f6f6f6;
		padding: 15px 10px;
		margin: 0;
	}
	.bnrBlock ul {
		width: 214px;
		margin: 10px auto 0;
	}
	.bnrBlock ul:first-child {
		margin: 0 auto;
	}
	.bnrBlock li {
		float: none;
		margin: 10px 0 0;
	}
	.bnrBlock li img {
		width: 100%;
	}
	
	
	.columnList {
		width: 214px;
		border: none;
		padding: 0;
		margin: 0 auto;
	}
	.columnList dl {
		float: none;
		margin: 10px 0 0;
	}
	.columnList dl:first-child {
		float: none;
		margin: 0;
	}


/* mypage top
--------------------------------------------------------------------*/
	.mypageTop .mypageTitle {
		background: url(/mypage/img/index_h1_02.jpg) right top no-repeat;
		background-size: 473px 86px;
		height: 86px;
		padding: 28px 10px 8px;
		margin: 10px 0;
	}
	.mypageTop .mypageTitle02 {
		background: url(/mypage/img/index_h1_03.jpg) right top no-repeat;
		height: 204px;
		padding: 22px 10px 8px;
		margin: 10px 0;
	}
	.mypageTop .mypageTitle h1,
	.mypageTop .mypageTitle02 h1 {
		background: url(/mypage/img/sp_index_h1_01.png) left center no-repeat;
		background-size: 40px 32px;
		padding: 6px 0 2px 54px;
		margin: 0;
		font-size: 148%;
		text-shadow: 2px 2px 0 #ffffff;
	}
	.mypageTop .mypageTitle02 .btnBlock01 {
		display: block;
		width: 100%;
	}
	.mypageTop .mypageTitle02 .btnBlock01 .text {
		display: block;
		width: 100%;
		background: none;
		padding: 15px 10px 0;
		font-size: 130%;
	}
	.mypageTop .mypageTitle02 .btnBlock01 .btn {
		display: block;
		width: 100%;
		padding: 15px 10px;
		text-align: center;
	}
	.mypageTop .btnBlock01 .btnOrange02 {
		display: block;
	}
	.mypageTop .btnBlock01 .btnOrange02 a {
		padding: 10px 0;
		font-size: 130%;
	}
	
	
	.mypageTop .noticeBlock {
		padding: 0;
		margin-bottom: 10px;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
	.mypageTop .noticeBlock h2 {
		background: url(/mypage/img/index_icon_04.png) 12px 0.7em no-repeat;
		background-size: 15px 18px;
		padding: 10px 10px 9px 36px;
		margin: 0;
		font-size: 130%;
	}
	.mypageTop .noticeBlock dl {
		margin: 0;
		font-size: 100%;
	}
	.mypageTop .noticeBlock dt {
		float: none;
		border-top: 2px solid #dadada;
		width: 100%;
		padding: 10px 10px 0;
		margin: 0;
		
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.mypageTop .noticeBlock dt span {
		display: inline-block;
		width: 6.5em;
		padding: 4px 0 2px;
		margin-right: 10px;
		font-size: 88%;
	}
	.mypageTop .noticeBlock dd {
		float: none;
		width: 100%;
		padding: 0 10px 10px;
		margin: 0;
		
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	
	
	.mypageTop .favoritesProperty,
	.mypageTop .viewedProperty {
		margin: 0;
	}
	.mypageTop .favoritesProperty .title,
	.mypageTop .viewedProperty .title {
		background: #eae6e2;
		padding: 10px;
		margin: 0;
	}
	.mypageTop .favoritesProperty .title h2 {
		display: inline-block;
		background-size: 19px 18px;
		padding: 1px 0 0 25px;
		margin: 0;
		font-size: 130%;
	}
	.mypageTop .viewedProperty .title h2 {
		display: inline-block;
		background-size: 18px 17px;
		padding-left: 25px;
		margin: 0;
		font-size: 130%;
	}
	.mypageTop .favoritesProperty .title p,
	.mypageTop .viewedProperty .title p {
		display: none;
	}
	.mypageTop .favoritesProperty .SPlistBlock li,
	.mypageTop .viewedProperty .SPlistBlock li {
		border-bottom: 2px solid #dadada;
	}
	.mypageTop .favoritesProperty .SPlistBlock a,
	.mypageTop .viewedProperty .SPlistBlock a {
		display: block;
		background: url(/mypage/img/sp_index_icon_01.png) 97% center no-repeat;
		background-size: 10px 16px;
		padding: 10px 25px 10px 10px;
		color: #2b2b2b;
	}
	.mypageTop .favoritesProperty .SPlistBlock .name,
	.mypageTop .viewedProperty .SPlistBlock .name {
		display: inline-block;
		padding: 1px 0 0;
		font-size: 113%;
		font-weight: bold;
		vertical-align: top;
	}
	.mypageTop .favoritesProperty .SPlistBlock .icoMansion01,
	.mypageTop .viewedProperty .SPlistBlock .icoMansion01 {
		display: inline-block;
		background: #53b76f;
		padding: 2px 4px;
		margin: 0 5px 5px 0;
		color: #ffffff;
		font-size: 88%;
		font-weight: bold;
	}
	.mypageTop .favoritesProperty .SPlistBlock .btn,
	.mypageTop .viewedProperty .SPlistBlock .btn {
		padding: 10px;
	}
	.mypageTop .favoritesProperty .SPlistBlock .btnBlack01,
	.mypageTop .viewedProperty .SPlistBlock .btnBlack01 {
		display: block;
		background: #2b2b2b;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		font-size: 113%;
		font-weight: bold;
	}
	.mypageTop .favoritesProperty .SPlistBlock .btnBlack01 a,
	.mypageTop .viewedProperty .SPlistBlock .btnBlack01 a {
		display: block;
		background: url(/mypage/img/index_icon_01.png) 15px center no-repeat;
		padding: 10px 0;
		color: #ffffff;
		text-align: center;
	}


	.mypageTop .requestProperty .title {
		background: none;
		padding: 0;
		margin: 0;
	}
	.mypageTop .requestProperty .title h2 {
		background: #e3e3e3 url(/mypage/img/index_icon_07.png) 10px 0.8em no-repeat;
		background-size: 18px 16px;
		padding: 10px 10px 10px 35px;
		margin: 0;
		font-size: 130%;
		font-weight: bold;
	}
	.mypageTop .requestProperty .title p {
		padding: 10px;
	}
	.mypageTop .requestProperty .conditionsList {
		padding: 0 10px 0;
	}
	.mypageTop .requestProperty .conditionsList h3 {
		padding: 10px 10px 6px;
	}
	.mypageTop .requestProperty .conditionsList .listInner {
		padding: 15px 8px;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .conditions {
		float: none;
		font-size: 100%;
		margin-bottom: 15px;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox dt {
		padding-right: 20px;
		margin-top: 10px;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox dd {
		width: 70%;
		margin: 10px 0 0 8px;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .btn {
		float: none;
		width: 100%;
		margin: 0;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .btnBlack01 {
		float: left;
		width: 48%;
		margin: 0;
		font-size: 100%;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .btnBlack01 a {
		background: url(/mypage/img/index_icon_01.png) 10px center no-repeat;
		padding: 7px 10px 5px 10px;
		text-align: center;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .btnGray01 {
		float: right;
		width: 48%;
		font-size: 100%;
	}
	.mypageTop .requestProperty .conditionsList .listInner .listBox .btnGray01 a {
		background: url(/mypage/img/index_icon_02.png) 12px center no-repeat;
		padding: 7px 10px 5px 10px;
		text-align: center;
	}
	.mypageTop .requestProperty .conditionsList .listInner .btnBox {
		text-align: center;
	}
	.mypageTop .requestProperty .conditionsList .listInner .btnBox .btnOrange01 {
		display: block;
		font-size: 113%;
	}
	.mypageTop .requestProperty .conditionsList .listInner .btnBox .btnOrange01 a {
		display: block;
		background: url(/mypage/img/index_icon_01.png) 10px center no-repeat;
		padding: 9px 10px 7px 10px;
	}

	.mypageTop .bgBlock01 {
		padding: 15px 10px;
		margin-bottom: 15px;
	}
	.mypageTop .bgBlock01 h2 {
		font-size: 148%;
	}
	.mypageTop .bgBlock01 .listBlock01 {
		margin-top: 10px;
	}
	.mypageTop .bgBlock01 .listBlock01 dl {
		float: none;
		width: 100%;
		padding: 15px;
		margin-top: 10px;
	}
	.mypageTop .bgBlock01 .listBlock01 dl:first-child {
		float: none;
		margin-top: 0;
	}
	.mypageTop .bgBlock01 .listBlock01 dl dt .title {
		font-size: 124%;
	}
	.mypageTop .bgBlock01 .listBlock01 dl dd ul li {
		margin-top: 0;
		text-indent: -1em;
		padding-left: 1em;
	}
	
	.mypageTop .btnBlock02 {
		display: none;
	}


/* information
--------------------------------------------------------------------*/
	.mypageInfo h1 {
		font-size: 148%;
		padding: 10px 10px 0;
		margin-bottom: 10px;
	}
	
	
	.mypageInfo .noticeBlock {
		padding: 15px 10px;
	}
	.mypageInfo .noticeBlock dl {
		margin-bottom: 15px;
		text-align: left;
	}
	.mypageInfo .noticeBlock dt {
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 10px;
		margin-bottom: 15px;
		font-size: 113%;
	}
	.mypageInfo .noticeBlock dt span {
		border-radius: 5px;
	}
	.mypageInfo .noticeBlock dd {
		font-size: 100%;
	}
	.mypageInfo .noticeBlock dd p:first-child {
		margin: 0;
	}
	.mypageInfo .noticeBlock .btnGray01 {
		display: block;
	}

}
