@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/*btn*/
.btnBlack01:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.btnBlack01 a {
	text-decoration: none;
	cursor: pointer;
}

.section01 .linkBlock h3 {
	margin-bottom: 10px;
	font-size: 148%;
	font-weight: bold;
}
.section01 .linkBlock .blockInner {
	background: #ffffff;
	padding: 25px 30px;
	text-align: center;
}
.section01 .linkBlock .blockInner p {
	width: 275px;
}
.section01 .linkBlock .blockInner .btnBlack01 {
	display: inline-block;
	background: #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.section01 .linkBlock .blockInner .btnBlack01 a {
	display: block;
	background: url(/common/img/cmn_arrow_06.png) 12px center no-repeat;
	padding: 7px 10px 7px 29px;
	color: #ffffff;
	font-size: 113%;
	font-weight: bold;
}
.section01 .linkBlock .blockInner .btnWhite01 {
	display: inline-block;
	background: #ffffff;
}
.section01 .linkBlock .blockInner .btnWhite01 span {
	display: block;
	background: url(/common/img/cmn_arrow_02.png) 12px center no-repeat;
	border: 1px solid #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 6px 9px 6px 28px;
	font-size: 113%;
	font-weight: bold;
}

/*lumpMix*/
.lumpMix .lumpL {
	float: left;
	margin: 0 20px 5px 0;
}
.lumpMix .lumpR {
	float: right;
	margin: 0 0 5px 20px;
}
.lumpMix .lumpEnd { overflow:hidden; zoom:1;}

.lumpMix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.lumpMix {
	zoom: 1;
}

/*table*/
.tableType1 {
    border-collapse: collapse;
    width: 100%;
}
.tableType1 th, .tableType1 td {
    border: 2px solid #f9f7f3;
    padding: 14px;
    text-align: left;
}
.tableType1 thead th {
    background: #d2d0ca;
	font-size: 130%;
    font-weight: bold;
    text-align: center;
	vertical-align: middle;
}
.tableType1 tbody th {
    background: #eae8e4;
	font-size: 130%;
    font-weight: bold;
	vertical-align: middle;
}
.tableType1 td {
    background: #faebb8;
	font-size: 88%;
    vertical-align: top;
	width: 27%;
}


/* index.html
--------------------------------------------------------------------*/
.paymentTop .titleBlock {
	background: #ffffff url(/buy/payment/img/index_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.paymentTop .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.paymentTop .titleBlock p {
	font-size: 106%;
}

.paymentTop h2 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 20px;
}

.paymentTop .tableType1 thead th.cellColor01 {
    background: #cae1b3;
}
.paymentTop .tableType1 thead th.cellColor02 {
    background: #f7d892;
    padding: 5px 14px;
}
.paymentTop .tableType1 td.cellColor01 {
    background: #eaf2d5;
}
.paymentTop .tableType1 td .note {
    background: #eaf2d5;
}

.paymentTop .bgBlock01 {
	background: #ffffff;
	padding: 25px;
	margin-bottom: 35px;
}
