@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/*btn*/
.btnBlack01:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.btnBlack01 a {
	text-decoration: none;
	cursor: pointer;
}

.section01 .linkBlock h2,
.section01 .linkBlock h3 {
	margin-bottom: 10px;
	font-size: 148%;
	font-weight: bold;
}
.section01 .linkBlock .blockInner {
	background: #ffffff;
	padding: 25px 30px;
}
.section01 .linkBlock .blockInner ul {
	margin-top: 10px;
}
.section01 .linkBlock .blockInner ul:first-child {
	margin-top: 0;
}
.section01 .linkBlock .blockInner ul li {
	float: left;
	width: 275px;
	margin-left: 15px;
}
.section01 .linkBlock .blockInner ul li:first-child {
	margin-left: 0;
}
.section01 .linkBlock .blockInner .btnBlack01 {
	display: inline-block;
	background: #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.section01 .linkBlock .blockInner .btnBlack01 a {
	display: block;
	background: url(/common/img/cmn_arrow_06.png) 12px center no-repeat;
	padding: 7px 10px 7px 29px;
	color: #ffffff;
	font-size: 113%;
	font-weight: bold;
}
.section01 .linkBlock .blockInner .btnWhite01 {
	display: inline-block;
	background: #ffffff;
}
.section01 .linkBlock .blockInner .btnWhite01 span {
	display: block;
	background: url(/common/img/cmn_arrow_02.png) 12px center no-repeat;
	border: 1px solid #2b2b2b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 6px 9px 6px 28px;
	font-size: 113%;
	font-weight: bold;
}


/*lumpMix*/
.lumpMix .lumpL {
	float: left;
	margin: 0 20px 5px 0;
}
.lumpMix .lumpR {
	float: right;
	margin: 0 0 5px 20px;
}
.lumpMix .lumpEnd { overflow:hidden; zoom:1;}

.lumpMix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.lumpMix {
	zoom: 1;
}


/* index.html
--------------------------------------------------------------------*/
.re2Top .titleBlock {
	background: #ffffff url(/buy/re2/img/index_h1_01.jpg) right top no-repeat;
	border: 1px solid #ffffff;
	height: 140px;
	padding: 35px 40px 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.re2Top .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.re2Top .titleBlock h1 img {
	vertical-align: middle;
	margin: 0 6px;
}
.re2Top .titleBlock p {
	font-size: 106%;
}

.re2Top .section01 h2 {
	margin-bottom: 35px;
	font-size: 184%;
	font-weight: bold;
}
.re2Top .section01 h2 span {
	color: #eb6b00;
	font-size: 138%;
}

.re2Top .section01 .column2Block {
	margin-bottom: 35px;
}
.re2Top .section01 .column2Block dl {
	float: right;
	width: 445px;
}
.re2Top .section01 .column2Block dl:first-child {
	float: left;
}
.re2Top .section01 .column2Block dl dt {
	border-bottom: 1px solid #ec6b00;
	padding-bottom: 13px\9;
	margin-bottom: 2px;
	font-weight: bold;
}
.re2Top .section01 .column2Block dl dt .number {
	float: left;
	background: #ffffff;
	width: 46px;
	height: 46px;
	border: 1px solid #ec6b00;
	border-radius: 23px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	padding-top: 6px;
	color: #ec6b00;
	font-size: 213%;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.re2Top .section01 .column2Block dl dt .title {
	float: left;
	width: 389px;
	margin-left: 10px;
	font-size: 148%;
}
.re2Top .section01 .column2Block dl dt {
	display: table;
	width: 100%;
}
.re2Top .section01 .column2Block dl dd {
	font-size: 113%;
	background: #ffffff;
	padding: 20px 15px;
}



/* purchase.html
--------------------------------------------------------------------*/
.purchase .titleBlock {
	background: #ffffff url(/buy/re2/img/purchase_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.purchase .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.purchase .titleBlock p {
	font-size: 106%;
}

.purchase .section01 h2 {
	margin-bottom: 15px;
	font-size: 184%;
	font-weight: bold;
}

.purchase .section01 .column2Block {
	margin-bottom: 15px;
}
.purchase .section01 .column2Block h3 {
	padding: 10px 15px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 130%;
	font-weight: bold;
}
.purchase .section01 .column2Block .flowBlock {
	padding-bottom: 68px;
}
.purchase .section01 .column2Block .flowBlock .flowInner {
	position: relative;
	padding: 20px 15px;
	margin-top: 15px;
}
.purchase .section01 .column2Block .flowBlock .flowInner:first-child {
	margin-top: 0;
}
.purchase .section01 .column2Block .flowBlock .flowInner .arrow01 {
	position: absolute;
	display: block;
	width: 28px;
	height: 12px;
	bottom: -12px;
	left: 210px;
}
.purchase .section01 .column2Block .flowBlock .flowInner .arrow02 {
	position: absolute;
	display: block;
	width: 28px;
	height: 12px;
	top: -1px;
	left: 210px;
}
.purchase .section01 .column2Block .flowBlock .flowInner dt {
	margin-bottom: 10px;
	font-size: 130%;
	font-weight: bold;
}
.purchase .section01 .column2Block .flowBlock .flowInner dt span {
	display: inline-block;
	margin-right: 5px;
	font-size: 130%;
	line-height: 1;
	color: #ffffff;
}
.purchase .section01 .column2Block .flowBlock .flowInner dd {
	font-size: 113%;
}

.purchase .section01 .column2Block .leftBlock {
	float: left;
	width: 448px;
}
.purchase .section01 .column2Block .leftBlock h3 {
	background: #e8b60b;
}
.purchase .section01 .column2Block .leftBlock .flowBlock {
	background: url(/buy/re2/img/purchase_bg_04.png) center bottom no-repeat;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner {
	background: #fbe084 url(/buy/re2/img/purchase_bg_02.png) center top no-repeat;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner:first-child {
	background: #fbe084;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner .arrow01 {
	background: url(/buy/re2/img/purchase_bg_01.png) left top no-repeat;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner .arrow02 {
	background: url(/buy/re2/img/purchase_bg_03.png) left top no-repeat;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner.step06 {
	background: #ffffff;
	border: 1px solid #e8b60b;
}
.purchase .section01 .column2Block .leftBlock .flowBlock .flowInner.step06 span {
	color: #f5c61f;
}

.purchase .section01 .column2Block .rightBlock {
	float: right;
	width: 448px;
}
.purchase .section01 .column2Block .rightBlock h3 {
	background: #1e91ce;
}
.purchase .section01 .column2Block .rightBlock .flowBlock {
	background: url(/buy/re2/img/purchase_bg_08.png) center bottom no-repeat;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner {
	background: #aad9f2 url(/buy/re2/img/purchase_bg_06.png) center top no-repeat;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner:first-child {
	background: #aad9f2;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner .arrow01 {
	background: url(/buy/re2/img/purchase_bg_05.png) left top no-repeat;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner .arrow02 {
	background: url(/buy/re2/img/purchase_bg_07.png) left top no-repeat;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner.step05 {
	background: none;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner.step06 {
	background: #ffffff;
	border: 1px solid #60a8ce;
}
.purchase .section01 .column2Block .rightBlock .flowBlock .flowInner.step06 span {
	color: #5eb8e8;
}

.purchase .section01 .flowendBlock {
	background: #ffffff;
	border: 1px solid #bbbbbb;
	width: 660px;
	padding: 20px;
	margin: 0 auto 35px;
	text-align: center;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.purchase .section01 .flowendBlock dt {
	margin-bottom: 10px;
	font-size: 130%;
	font-weight: bold;
}
.purchase .section01 .flowendBlock dt span {
	display: inline-block;
	margin-right: 5px;
	font-size: 130%;
	line-height: 1;
	color: #d9d9d9;
}
.purchase .section01 .flowendBlock dd {
	font-size: 113%;
}



/* inspection.html
--------------------------------------------------------------------*/
.inspection .titleBlock {
	background: #ffffff url(/buy/re2/img/inspection_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.inspection .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.inspection .titleBlock p {
	font-size: 106%;
}

.inspection h2 {
	font-size: 148%;
	font-weight: bold;
	margin-bottom: 10px;
}

.inspection .bgBlock01 {
	background: #eeebdc;
	padding: 20px;
	margin-bottom: 25px;
}
.inspection .bgBlock01 .title {
	font-size: 148%;
	font-weight: bold;
	margin-bottom: 10px;
}

.inspection .column2Block {
	margin-bottom: 35px;
}
.inspection .column2Block dl {
	float: right;
	width: 445px;
}
.inspection .column2Block dl:first-child {
	float: left;
}
.inspection .column2Block dl dt {
	background: #e4e2dd;
	padding: 10px 20px;
	font-size: 148%;
	font-weight: bold;
}

.inspection .bgBlock02 {
	background: #ffffff;
	padding: 20px;
	margin-bottom: 35px;
}
.inspection .bgBlock02 .column2Block {
	margin: 0;
}
.inspection .bgBlock02 .column2Block .columnInner {
	float: right;
	width: 420px;
}
.inspection .bgBlock02 .column2Block .columnInner:first-child {
	float: left;
}
.inspection .bgBlock02 .column2Block .bgBlock03 {
	background: #f8f6f2;
	padding: 10px;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li {
	font-size: 113%;
	margin-top: 10px;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li:first-child {
	margin-top: 0;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li span {
	font-weight: bold;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li .rankS {
	color: #0e77da;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li .rankA {
	color: #33a321;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li .rankB {
	color: #f56925;
}
.inspection .bgBlock02 .column2Block .bgBlock03 li .rankC {
	color: #b546ac;
}



/* insurance.html
--------------------------------------------------------------------*/
.insurance .titleBlock {
	background: #ffffff url(/buy/re2/img/insurance_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.insurance .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.insurance .titleBlock p {
	font-size: 106%;
}

.insurance h2 {
	background: #e4e2dd;
	padding: 10px 20px;
	font-size: 148%;
	font-weight: bold;
}

.insurance .bgBlock01 {
	background: #edebe5;
	padding: 20px;
	margin-bottom: 30px;
}
.insurance .bgBlock01 .title {
	font-size: 148%;
	font-weight: bold;
	margin-bottom: 10px;
}

.insurance .bgBlock02 {
	background: #ffffff;
	padding: 20px;
	margin-bottom: 35px;
}

.insurance .bgBlock03 {
	background: #eaf0f4;
	padding: 20px;
	margin-bottom: 10px;
}
.insurance .bgBlock03 .title {
	font-size: 148%;
	font-weight: bold;
	margin-bottom: 10px;
}



/* assurance.html
--------------------------------------------------------------------*/
.assurance .titleBlock {
	background: #ffffff url(/buy/re2/img/assurance_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.assurance .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.assurance .titleBlock p {
	font-size: 106%;
}

.assurance .column2Block {
	margin-bottom: 35px;
}
.assurance .column2Block .columnInner {
	float: right;
	width: 445px;
}
.assurance .column2Block .columnInner:first-child {
	float: left;
}
.assurance .column2Block .columnInner .bgBlock01 {
	background: #edebe5;
	padding: 20px;
	margin-top: 10px;
	font-size: 113%;
}
.assurance .column2Block .columnInner .bgBlock01:first-child {
	margin-top: 0;
}
.assurance .column2Block .columnInner .bgBlock01 .number {
	float: left;
	background: #ffa244;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	padding-top: 3px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.assurance .column2Block .columnInner .bgBlock01 .text {
	margin: 3px 0 0 32px;
}
.assurance .column2Block .columnInner .bgBlock01 .text dd {
	margin-top: 5px;
	text-indent: -1em;
	padding-left: 1em;
}
.assurance .listNote {
	margin-bottom: 35px;
}
.assurance .listNote li {
	margin-top: 5px;
	font-size: 113%;
	text-indent: -1em;
	padding-left: 1em;
}



/* after-service.html
--------------------------------------------------------------------*/
.afterservice .titleBlock {
	background: #ffffff url(/buy/re2/img/afterservice_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.afterservice .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.afterservice .titleBlock p {
	font-size: 106%;
}

.afterservice .lead {
	font-size: 113%;
	margin-bottom: 30px;
}

.afterservice .h2Block {
	background: #e4e2dd;
	padding: 7px 10px;
}
.afterservice .h2Block h2 {
	float: left;
	margin-top: 3px;
	font-size: 148%;
	font-weight: bold;
}
.afterservice .h2Block .number {
	float: left;
	display: inline-block;
	background: #f5a901;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	padding-top: 3px;
	margin-right: 10px;
	color: #ffffff;
	font-size: 138%;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

.afterservice .bgBlock01 {
	background: #ffffff;
	padding: 25px;
	margin-bottom: 30px;
	font-size: 113%;
}
