#if($pagingForm.leftNavigationPageNo != $pagingForm.rightNavigationPageNo)
	<div class="navPaging">
		#set($pageOptionParams = $pagingForm.optionParams)
		#if($pagingForm.selectedPage != 1)
			#set($pagingNum = $pagingForm.selectedPage - 1)
			<a href="$!escape.html($!pagingURL)?selectedPage=$!escape.html($!pagingNum)&$!escape.html($!pageOptionParams)" class="navNotSelectedPage navBookend">前へ</a>
		#end
		#foreach($thisPageNo in [$pagingForm.leftNavigationPageNo .. $pagingForm.rightNavigationPageNo])
			#if($thisPageNo == $pagingForm.selectedPage)
				<span class="navSelectedPage">$thisPageNo</span>
			#else
				 <a href="$!escape.html($!pagingURL)?selectedPage=$!escape.html($!thisPageNo)&$!escape.html($!pageOptionParams)" class="navNotSelectedPage">$thisPageNo</a>
			#end
		#end
		#if($pagingForm.selectedPage != $pagingForm.maxPages)
			#set($pagingNum = $pagingForm.selectedPage + 1)
			<a href="$!escape.html($!pagingURL)?selectedPage=$!escape.html($!pagingNum)&$!escape.html($!pageOptionParams)" class = "navNotSelectedPage navBookend">次へ</a>
		#end
	</div>
#end