#foreach ($thisError in $errors)
	#set($errorCustom = $thisError.name+"_"+$thisError.type)
	#set($message = $dm3lookup.lookup("errorCustom",$errorCustom))
	#if(!$message)
		#set($message = $dm3lookup.lookup("errorTemplates",$thisError.type))
		#if(!$message)
			#set($message = "Unknown error: field=[#fieldName], type=[#errorType], value=[#fieldValue]")
		#end
	#end
	#set($label = $dm3lookup.lookup("errorLabels",$thisError.name))
	#if(!$label)
		#set($label = $thisError.name)
	#end
		#if($label)
		#set($message = $message.replace("[#fieldName]",$label))
		#end
		#if($thisError.type)
		#set($message = $message.replace('[#errorType]',$thisError.type))
		#end
		#if($thisError.value)
		#set($message =	$message.replace('[#fieldValue]',$thisError.value))
		#end
		#if($thisError.extraInfo[0])
		#set($message =	$message.replace('[#extraInfo]',$thisError.extraInfo[0]))
		#end
	<span class="errorMessage">
		$!escape.html($!message)
	</span>
#end