@charset "UTF-8";

/*====================================================================
 general
====================================================================*/
.colorRed01 { color: #ff0000 !important;}
.colorYellow01 { color: #f5a900 !important;}

.w001per {width: 1%;}
.w002per {width: 2%;}
.w003per {width: 3%;}
.w004per {width: 4%;}
.w005per {width: 5%;}
.w006per {width: 6%;}
.w007per {width: 7%;}
.w008per {width: 8%;}
.w009per {width: 9%;}
.w010per {width: 10%;}
.w011per {width: 11%;}
.w012per {width: 12%;}
.w013per {width: 13%;}
.w014per {width: 14%;}
.w015per {width: 15%;}
.w016per {width: 16%;}
.w017per {width: 17%;}
.w018per {width: 18%;}
.w019per {width: 19%;}
.w020per {width: 20%;}
.w021per {width: 21%;}
.w022per {width: 22%;}
.w023per {width: 23%;}
.w024per {width: 24%;}
.w025per {width: 25%;}
.w026per {width: 26%;}
.w027per {width: 27%;}
.w028per {width: 28%;}
.w029per {width: 29%;}
.w030per {width: 30%;}
.w031per {width: 31%;}
.w032per {width: 32%;}
.w033per {width: 33%;}
.w034per {width: 34%;}
.w035per {width: 35%;}
.w036per {width: 36%;}
.w037per {width: 37%;}
.w038per {width: 38%;}
.w039per {width: 39%;}
.w040per {width: 40%;}
.w041per {width: 41%;}
.w042per {width: 42%;}
.w043per {width: 43%;}
.w044per {width: 44%;}
.w045per {width: 45%;}
.w046per {width: 46%;}
.w047per {width: 47%;}
.w048per {width: 48%;}
.w049per {width: 49%;}
.w050per {width: 50%;}
.w051per {width: 51%;}
.w052per {width: 52%;}
.w053per {width: 53%;}
.w054per {width: 54%;}
.w055per {width: 55%;}
.w056per {width: 56%;}
.w057per {width: 57%;}
.w058per {width: 58%;}
.w059per {width: 59%;}
.w060per {width: 60%;}
.w061per {width: 61%;}
.w062per {width: 62%;}
.w063per {width: 63%;}
.w064per {width: 64%;}
.w065per {width: 65%;}
.w066per {width: 66%;}
.w067per {width: 67%;}
.w068per {width: 68%;}
.w069per {width: 69%;}
.w070per {width: 70%;}
.w071per {width: 71%;}
.w072per {width: 72%;}
.w073per {width: 73%;}
.w074per {width: 74%;}
.w075per {width: 75%;}
.w076per {width: 76%;}
.w077per {width: 77%;}
.w078per {width: 78%;}
.w079per {width: 79%;}
.w080per {width: 80%;}
.w081per {width: 81%;}
.w082per {width: 82%;}
.w083per {width: 83%;}
.w084per {width: 84%;}
.w085per {width: 85%;}
.w086per {width: 86%;}
.w087per {width: 87%;}
.w088per {width: 88%;}
.w089per {width: 89%;}
.w090per {width: 90%;}
.w091per {width: 91%;}
.w092per {width: 92%;}
.w093per {width: 93%;}
.w094per {width: 94%;}
.w095per {width: 95%;}
.w096per {width: 96%;}
.w097per {width: 97%;}
.w098per {width: 98%;}
.w099per {width: 99%;}
.w100per {width: 100%;}

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {

	.spF10 {font-size: 10px !important;}
	.spF11 {font-size: 11px !important;}
	.spF12 {font-size: 12px !important;}
	.spF13 {font-size: 13px !important;}
	.spF14 {font-size: 14px !important;}
	.spF15 {font-size: 15px !important;}
	.spF16 {font-size: 16px !important;}
	.spF17 {font-size: 17px !important;}
	.spF18 {font-size: 18px !important;}
	.spF19 {font-size: 19px !important;}
	.spF20 {font-size: 20px !important;}

	.spLeft {text-align: left !important;}
	.spCenter {text-align: center !important;}
	.spRight {text-align: right !important;}
	.spTop {vertical-align: top !important;}
	.spMiddle {vertical-align: middle !important;}
	.spBottom {vertical-align: bottom !important;}

	.spDisBlock {display: block !important;}
	.spDisInLineBlock {display: inline-block !important;}

	.spMt00 {margin-top: 0 !important;}
	.spMt05 {margin-top: 5px !important;}
	.spMt10 {margin-top: 10px !important;}
	.spMt15 {margin-top: 15px !important;}
	.spMt20 {margin-top: 20px !important;}
	.spMt25 {margin-top: 25px !important;}
	.spMt30 {margin-top: 30px !important;}
	.spMt35 {margin-top: 35px !important;}
	.spMt40 {margin-top: 40px !important;}
	.spMt45 {margin-top: 45px !important;}
	.spMt50 {margin-top: 50px !important;}

	.spMb00 {margin-bottom: 0 !important;}
	.spMb05 {margin-bottom: 5px !important;}
	.spMb10 {margin-bottom: 10px !important;}
	.spMb15 {margin-bottom: 15px !important;}
	.spMb20 {margin-bottom: 20px !important;}
	.spMb25 {margin-bottom: 25px !important;}
	.spMb30 {margin-bottom: 30px !important;}
	.spMb35 {margin-bottom: 35px !important;}
	.spMb40 {margin-bottom: 40px !important;}
	.spMb35 {margin-bottom: 35px !important;}
	.spMb40 {margin-bottom: 40px !important;}
	.spMb45 {margin-bottom: 45px !important;}
	.spMb50 {margin-bottom: 50px !important;}

	.spMl00 {margin-left: 0 !important;}
	.spMl05 {margin-left: 5px !important;}
	.spMl10 {margin-left: 10px !important;}
	.spMl15 {margin-left: 15px !important;}
	.spMl20 {margin-left: 20px !important;}
	.spMl25 {margin-left: 25px !important;}
	.spMl30 {margin-left: 30px !important;}
	.spMl35 {margin-left: 35px !important;}
	.spMl40 {margin-left: 40px !important;}
	.spMl45 {margin-left: 45px !important;}
	.spMl50 {margin-left: 50px !important;}

	.spMr00 {margin-right: 0 !important;}
	.spMr05 {margin-right: 5px !important;}
	.spMr10 {margin-right: 10px !important;}
	.spMr15 {margin-right: 15px !important;}
	.spMr20 {margin-right: 20px !important;}
	.spMr25 {margin-right: 25px !important;}
	.spMr30 {margin-right: 30px !important;}
	.spMr35 {margin-right: 35px !important;}
	.spMr40 {margin-right: 40px !important;}
	.spMr45 {margin-right: 45px !important;}
	.spMr50 {margin-right: 50px !important;}

	.spPt00 {padding-top: 0 !important;}
	.spPt05 {padding-top: 5px !important;}
	.spPt10 {padding-top: 10px !important;}
	.spPt15 {padding-top: 15px !important;}
	.spPt20 {padding-top: 20px !important;}
	.spPt25 {padding-top: 25px !important;}
	.spPt30 {padding-top: 30px !important;}
	.spPt35 {padding-top: 35px !important;}
	.spPt40 {padding-top: 40px !important;}
	.spPt45 {padding-top: 45px !important;}
	.spPt50 {padding-top: 50px !important;}

	.spPb00 {padding-bottom: 0 !important;}
	.spPb05 {padding-bottom: 5px !important;}
	.spPb10 {padding-bottom: 10px !important;}
	.spPb15 {padding-bottom: 15px !important;}
	.spPb20 {padding-bottom: 20px !important;}
	.spPb25 {padding-bottom: 25px !important;}
	.spPb30 {padding-bottom: 30px !important;}
	.spPb35 {padding-bottom: 35px !important;}
	.spPb40 {padding-bottom: 40px !important;}
	.spPb45 {padding-bottom: 45px !important;}
	.spPb50 {padding-bottom: 50px !important;}

	.spPl00 {padding-left: 0 !important;}
	.spPl05 {padding-left: 5px !important;}
	.spPl10 {padding-left: 10px !important;}
	.spPl15 {padding-left: 15px !important;}
	.spPl20 {padding-left: 20px !important;}
	.spPl25 {padding-left: 25px !important;}
	.spPl30 {padding-left: 30px !important;}
	.spPl35 {padding-left: 35px !important;}
	.spPl40 {padding-left: 40px !important;}
	.spPl45 {padding-left: 45px !important;}
	.spPl50 {padding-left: 50px !important;}

	.spPr00 {padding-right: 0 !important;}
	.spPr05 {padding-right: 5px !important;}
	.spPr10 {padding-right: 10px !important;}
	.spPr15 {padding-right: 15px !important;}
	.spPr20 {padding-right: 20px !important;}
	.spPr25 {padding-right: 25px !important;}
	.spPr30 {padding-right: 30px !important;}
	.spPr35 {padding-right: 35px !important;}
	.spPr40 {padding-right: 40px !important;}
	.spPr45 {padding-right: 45px !important;}
	.spPr50 {padding-right: 50px !important;}

	.spW001per {width: 1% !important;}
	.spW002per {width: 2% !important;}
	.spW003per {width: 3% !important;}
	.spW004per {width: 4% !important;}
	.spW005per {width: 5% !important;}
	.spW006per {width: 6% !important;}
	.spW007per {width: 7% !important;}
	.spW008per {width: 8% !important;}
	.spW009per {width: 9% !important;}
	.spW010per {width: 10% !important;}
	.spW011per {width: 11% !important;}
	.spW012per {width: 12% !important;}
	.spW013per {width: 13% !important;}
	.spW014per {width: 14% !important;}
	.spW015per {width: 15% !important;}
	.spW016per {width: 16% !important;}
	.spW017per {width: 17% !important;}
	.spW018per {width: 18% !important;}
	.spW019per {width: 19% !important;}
	.spW020per {width: 20% !important;}
	.spW021per {width: 21% !important;}
	.spW022per {width: 22% !important;}
	.spW023per {width: 23% !important;}
	.spW024per {width: 24% !important;}
	.spW025per {width: 25% !important;}
	.spW026per {width: 26% !important;}
	.spW027per {width: 27% !important;}
	.spW028per {width: 28% !important;}
	.spW029per {width: 29% !important;}
	.spW030per {width: 30% !important;}
	.spW031per {width: 31% !important;}
	.spW032per {width: 32% !important;}
	.spW033per {width: 33% !important;}
	.spW034per {width: 34% !important;}
	.spW035per {width: 35% !important;}
	.spW036per {width: 36% !important;}
	.spW037per {width: 37% !important;}
	.spW038per {width: 38% !important;}
	.spW039per {width: 39% !important;}
	.spW040per {width: 40% !important;}
	.spW041per {width: 41% !important;}
	.spW042per {width: 42% !important;}
	.spW043per {width: 43% !important;}
	.spW044per {width: 44% !important;}
	.spW045per {width: 45% !important;}
	.spW046per {width: 46% !important;}
	.spW047per {width: 47% !important;}
	.spW048per {width: 48% !important;}
	.spW049per {width: 49% !important;}
	.spW050per {width: 50% !important;}
	.spW051per {width: 51% !important;}
	.spW052per {width: 52% !important;}
	.spW053per {width: 53% !important;}
	.spW054per {width: 54% !important;}
	.spW055per {width: 55% !important;}
	.spW056per {width: 56% !important;}
	.spW057per {width: 57% !important;}
	.spW058per {width: 58% !important;}
	.spW059per {width: 59% !important;}
	.spW060per {width: 60% !important;}
	.spW061per {width: 61% !important;}
	.spW062per {width: 62% !important;}
	.spW063per {width: 63% !important;}
	.spW064per {width: 64% !important;}
	.spW065per {width: 65% !important;}
	.spW066per {width: 66% !important;}
	.spW067per {width: 67% !important;}
	.spW068per {width: 68% !important;}
	.spW069per {width: 69% !important;}
	.spW070per {width: 70% !important;}
	.spW071per {width: 71% !important;}
	.spW072per {width: 72% !important;}
	.spW073per {width: 73% !important;}
	.spW074per {width: 74% !important;}
	.spW075per {width: 75% !important;}
	.spW076per {width: 76% !important;}
	.spW077per {width: 77% !important;}
	.spW078per {width: 78% !important;}
	.spW079per {width: 79% !important;}
	.spW080per {width: 80% !important;}
	.spW081per {width: 81% !important;}
	.spW082per {width: 82% !important;}
	.spW083per {width: 83% !important;}
	.spW084per {width: 84% !important;}
	.spW085per {width: 85% !important;}
	.spW086per {width: 86% !important;}
	.spW087per {width: 87% !important;}
	.spW088per {width: 88% !important;}
	.spW089per {width: 89% !important;}
	.spW090per {width: 90% !important;}
	.spW091per {width: 91% !important;}
	.spW092per {width: 92% !important;}
	.spW093per {width: 93% !important;}
	.spW094per {width: 94% !important;}
	.spW095per {width: 95% !important;}
	.spW096per {width: 96% !important;}
	.spW097per {width: 97% !important;}
	.spW098per {width: 98% !important;}
	.spW099per {width: 99% !important;}
	.spW100per {width: 100% !important;}
}

/*====================================================================
 color
====================================================================*/
.cautionColor01 { color: #d70e18; }

/*====================================================================
 link
====================================================================*/
.linkType01 a {
	background: url(/common/img/cmn_arrow_02.png) left center no-repeat;
	padding-left: 17px;
}

/*====================================================================
 Icon
====================================================================*/
.mustIcon {
	color: #ffffff;
	background: #ef3642;
	display: inline-block;
	font-weight: normal;
	font-size: 12px;
	padding: 0px 6px;
	vertical-align: top;
}

.icoMansion01,
.icoNew01 {
	display: inline-block;
	padding: 3px 9px;
	color: #ffffff;
	font-weight: bold;
	font-size: 88%;
}
.icoMansion01 {	background: #53b76f; }
.icoNew01 { background: #f47880; }


/*====================================================================
 form
====================================================================*/
input,select { vertical-align: middle; }
textarea { resize: vertical; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }

input[type=text].error,
input[type=password].error,
textarea.error {
	border: 1px solid #ef3642;
}

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	input[type=text],
	input[type=password] {
		height: 36px;
	}
}

.errorTxt01 {
	color: #ef3642;
	background: url(/common/img/cmn_icon_02.png) no-repeat left top;
	padding: 2px 10px 10px 24px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.errorTxt01 {
		padding: 5px 10px 5px 24px;
	}
}


/*====================================================================
 button
====================================================================*/

/* primaryBtn
--------------------------------*/
.primaryBtn01 {
	width: 250px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #ffffff !important;
	font-weight: bold;
	background: #2b2b2b url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.primaryBtn02 {
	width: 250px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #ffffff !important;
	font-weight: bold;
	background: #ff6c00 url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.primaryBtn03 {
	width: 250px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #ffffff !important;
	font-weight: bold;
	background: #f6a900 url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.primaryBtn04 {
	width: 250px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #2b2b2b !important;
	font-weight: bold;
	background: #dedede url(/common/img/cmn_arrow_02.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button.primaryBtn01,
button.primaryBtn02,
button.primaryBtn03,
button.primaryBtn04 {
	padding: 8px 20px;
	cursor: pointer;
}
.primaryBtn01:hover,
.primaryBtn01.disabled,
.primaryBtn02:hover,
.primaryBtn02.disabled,
.primaryBtn03:hover,
.primaryBtn03.disabled,
.primaryBtn04:hover,
.primaryBtn04.disabled {
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	text-decoration: none;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.primaryBtn01,
	.primaryBtn02,
	.primaryBtn03 { 
		width: 100%; 
		font-size: 16px;
		padding: 8px 20px;
	}
}

/* secondaryBtn
--------------------------------*/
.secondaryBtn {
	width: 250px;
	display: inline-block;
	padding: 12px 20px;
	font-size: 16px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #ffffff !important;
	font-weight: bold;
	background: #2b2b2b url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.secondaryBtn02 {
	width: 250px;
	display: inline-block;
	padding: 12px 20px;
	font-size: 16px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #2b2b2b !important;
	font-weight: bold;
	background: #dedede url(/common/img/cmn_arrow_02.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.secondaryBtn:hover,
.secondaryBtn02:hover {
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	text-decoration: none;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.secondaryBtn,
	.secondaryBtn02 { 
		width: 100%; 
		font-size: 14px; 
	}
}


/* backBtn
--------------------------------*/
.backBtn {
	width: 154px;
	display: inline-block;
	padding: 6px 0px;
	font-size: 16px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	color: #2b2b2b !important;
	font-weight: bold;
	background: #dedede url(/common/img/cmn_arrow_02.png) 10px center no-repeat;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.backBtn:hover {
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	text-decoration: none;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.backBtn { 
		width: 110px; 
		font-size: 14px; 
	}
}

/* addressBtn
--------------------------------*/
.addressBtn {
	width: 114px;
	display: inline-block;
	padding: 5px 0px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	margin-top: -10px;
	margin-right: 10px;
	color: #ffffff !important;
	font-weight: bold;
	background: #2b2b2b url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	cursor: pointer;
}
.addressBtn:hover {
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	text-decoration: none;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.addressBtn { padding: 5px 0px; margin-right: 0px; }
}

/* btnList01
--------------------------------*/
.btnList01  {
	text-align: center;
	position: relative;
}
.btnList01 li:first-child {
	position: absolute;
	left: 0;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.btnList01 li {
		display: table-cell;
		vertical-align: middle;
	}
	.btnList01 li:first-child {
		position: inherit;
		width: 30%;
		padding-right: 10px;
		text-align: left;
	}
	.btnList01 li:last-child {
		position: inherit;
		width: 40%;
		text-align: right;
	}
	.btnList01 li:last-child button {
		line-height: 1.2;
	}
}


/*====================================================================
 container
====================================================================*/
.section01 { padding: 0 32px; }

.contentsInner01 { margin: 0px 0px 20px; }
.contentsInner02 {
	font-size: 113%;
	margin-bottom: 40px;
}
.contentsInner02 h3 { font-size: 148%; font-weight: bold; margin-bottom: 15px; }
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.section01 { padding: 0px; margin-bottom: 20px; }
	.contentsInner01 { margin: 0 10px 15px; }
	.contentsInner02 {
		font-size: 100%;
		padding: 0 10px;
		margin-bottom: 15px;
	}
}


/*====================================================================
 heading
====================================================================*/
/* headingBlockA01
--------------------------------*/
.headingBlockA01 { margin-bottom: 10px; }
.headingBlockA01 .ttl { float: left; font-weight: bold; }
.headingBlockA01 h1.ttl { font-size: 200%; }
.headingBlockA01 h2.ttl { font-size: 184%; }
.headingBlockA01 .sub {
	float: left;
	font-size: 113%;
	margin-left: 40px;
	padding-top: 6px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.headingBlockA01 {
		padding-top: 10px;
		margin: 0 10px 10px;
	}
	.headingBlockA01 h1.ttl,
	.headingBlockA01 h2.ttl {
		font-size: 16px;
		display: block;
		float: none;
	}
	.headingBlockA01 .sub {
		font-size: 12px;
		display: block;
		margin-left: 0px;
	}
}

/* headingBlockB01
--------------------------------*/
.headingBlockB01 { margin-bottom: 10px; }
.headingBlockB01 .ttl { 
	font-size: 184%; 
	float: left; 
	font-weight: bold; 
}
.headingBlockB01 .link {
	float: right;
	margin-top: 6px;
	font-size: 113%;
}
.headingBlockB01 .link a {
	background: url(/common/img/cmn_arrow_02.png) left center no-repeat;
	padding-left: 17px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.headingBlockB01 {
		border-top: 2px solid #dadada;
		border-bottom: 2px solid #dadada;
	}
	.headingBlockB01 > a {
		padding: 12px 10px;
		display: block;
		color: #000;
	}
	.headingBlockB01 .ttl {
		font-size: 16px;
		float: none;
		background: url(/common/img/sp_cmn_arrow_01.png) 97% center no-repeat;
		background-size: 10px 16px;
	}
}

/* headingBlockB02
--------------------------------*/
.headingBlockB02 { margin-bottom: 10px; }
.headingBlockB02 .ttl { 
	font-size: 184%; 
	float: left; 
	font-weight: bold; 
}
.headingBlockB02 .link {
	float: right;
	margin-top: 6px;
	font-size: 113%;
}
.headingBlockB02 .link a {
	background: url(/common/img/cmn_icon_04.png) left center no-repeat;
	padding-left: 17px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.headingBlockB02 {
		border-top: 2px solid #dadada;
		border-bottom: 2px solid #dadada;
	}
	.headingBlockB02 > a {
		padding: 12px 10px;
		display: block;
		color: #000;
	}
	.headingBlockB02 .ttl {
		font-size: 16px;
		float: none;
		background: url(/common/img/sp_cmn_icon_01.png) 97% center no-repeat;
		background-size: 13px auto;
		padding-right: 30px;
	}
}


/* headingBlockC01
   headingBlockD01
--------------------------------*/
.headingBlockC01 h2,
.headingBlockD01 h2 {
	font-weight: bold;
	background: #e5e3de;
	padding: 10px 20px;
	font-size: 130%;
}
.headingBlockD01 h2 {
	background: #e5e3de;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.headingBlockC01 h2,
	.headingBlockD01 h2 {
		border-radius: 0px;
		padding: 10px;
		font-size: 16px;
	}
}
/*====================================================================
 stepChartNav
====================================================================*/
.stepChartNav ul {
	display: table;
	width: 100%;
	min-height: 46px;
	margin-bottom: 20px;
}
.stepChartNav.step01 ul { background: url(/common/img/step_bg_01.png) left center no-repeat; }
.stepChartNav.step02 ul { background: url(/common/img/step_bg_02.png) left center no-repeat; }
.stepChartNav.step03 ul { background: url(/common/img/step_bg_03.png) left center no-repeat; }
.stepChartNav ul li { float: left; width: 33%; font-size: 16px; }
.stepChartNav ul li:first-child { width: 34%; }
.stepChartNav ul li.current { color: #ffffff; }
.stepChartNav ul li span {
	display: table-cell;	
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	height: 46px;
	width: 1%;
	text-align: center;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.stepChartNav { margin: 0; }	
	.stepChartNav.step01 ul,
	.stepChartNav.step02 ul,
	.stepChartNav.step03 ul { background: none; }
	.stepChartNav ul { margin-bottom: 15px; }
	.stepChartNav ul li {
		font-size: 12px;
		position: relative;
		padding: 0 0px 0 30px;
		box-sizing: border-box;
	}
	.stepChartNav ul li:nth-child(1) {
		padding: 0 0px 0 20px;
	}
	.stepChartNav ul li:after {
		content: "";
		position: absolute;
		display: block;
		width: 27px;
		height: 55px;
		right: -26px;
		top: 0;
		z-index: 1;
	}
	.stepChartNav ul li span {
		height: 55px;
	}
	.stepChartNav ul li.current {
		background: url(/common/img/sp_step_bg_01.png) right top;
		background-size: 6px auto;
	}
	.stepChartNav ul li:nth-child(1){
		border-radius: 5px 0 0 5px;
	}
	.stepChartNav ul li:nth-child(3){
		border-radius: 0 5px 5px 0;
	}
	.stepChartNav ul li.current:after {
		background: url(/common/img/sp_step_arrow_01.png) left center no-repeat;
		-webkit-background-size: 27px auto;
		background-size: 27px auto;
	}
	.stepChartNav ul li:nth-child(3):after {
		display: none;
	}
	.stepChartNav.step01 ul li:nth-child(2) { background: #ccc1a6; }
	.stepChartNav.step01 ul li:nth-child(3) { background: #e1dac7; }
	.stepChartNav.step01 ul li:nth-child(2):after {
		background: url(/common/img/sp_step_arrow_02.png) left center no-repeat;
		-webkit-background-size: 27px auto;
		background-size: 27px auto;
	}

	.stepChartNav.step02 ul li:nth-child(1) { background: #ccc1a6; }
	.stepChartNav.step02 ul li:nth-child(3) { background: #e1dac7; }
	.stepChartNav.step02 ul li:nth-child(1):after {
		background: url(/common/img/sp_step_arrow_02.png) left center no-repeat;
		-webkit-background-size: 27px auto;
		background-size: 27px auto;
	}

	.stepChartNav.step03 ul li:nth-child(1) { background: #e1dac7; }
	.stepChartNav.step03 ul li:nth-child(2) { background: #ccc1a6; }
	.stepChartNav.step03 ul li:nth-child(1):after {
		background: url(/common/img/sp_step_arrow_03.png) left center no-repeat;
		-webkit-background-size: 27px auto;
		background-size: 27px auto;
	}
	.stepChartNav.step03 ul li:nth-child(2):after {
		background: url(/common/img/sp_step_arrow_02.png) left center no-repeat;
		-webkit-background-size: 27px auto;
		background-size: 27px auto;
	}
}

/*====================================================================
 Block
====================================================================*/
/*column2Wrap01
--------------------------------*/
.column2Wrap01 .columnBlock01 {
	width: 444px;
	float: left;
}
.column2Wrap01 .columnBlock02 {
	width: 444px;
	float: right;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.column2Wrap01 .columnBlock01,
	.column2Wrap01 .columnBlock02 {
		width: auto;
		float: none;
	}
}


/*itemBlockA01
--------------------------------*/
.itemBlockA01 {
	background: #ffffff;
	margin-bottom: 20px;
}
.itemBlockA01 .columnInner {
	font-size: 113%;
	padding: 20px 20px;
}
.itemBlockA01 .columnInner .txt {
	margin-bottom: 20px;
}
.itemBlockA01 .columnInner .note {
	margin-bottom: 14px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.itemBlockA01 .columnInner {
		font-size: 14px;
		padding: 15px 10px;
	}
	.itemBlockA01 .columnInner .txt {
		margin-bottom: 10px;
	}
}

.loginBox .itemBlockA01.firstChild {
	min-height: 405px;
	height: 100%;
	margin: 0;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.loginBox .itemBlockA01.firstChild {
		min-height: inherit;
	}
}

/*accordion parts
--------------------------------*/
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.itemBlockA01.parts-sp-accordion {
		border-bottom: 2px solid #dadada;
		border-radius: 0px;
	}
	.itemBlockA01.parts-sp-accordion h2 {
		border-top: 2px solid #dadada;
		padding: 0;
		margin: 0;
	}
	.itemBlockA01.parts-sp-accordion h2 a {
		display: block;
		background: url(/common/img/sp_cmn_arrow_02.png) 97% center no-repeat;
		background-size: 16px 10px;
		padding: 10px 30px 10px 10px;
		color: #2b2b2b;
	}
	.itemBlockA01.parts-sp-accordion h2.open a {
		background: url(/common/img/sp_cmn_arrow_03.png) 97% center no-repeat;
		background-size: 16px 10px;
	}
	.itemBlockA01.parts-sp-accordion .box-sp-accordion {
		display: none;
	}
}

/*itemBlockA02
--------------------------------*/
.itemBlockA02 {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	padding: 20px;
	margin-bottom: 20px;
}
.itemBlockA02 .txt {
	margin-bottom: 20px;
}
.itemBlockA02 .note {
	margin-bottom: 14px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.itemBlockA02 {
		border-radius: 0px;
		border: none;
		padding: 0px;
	}
}

/*itemBlockA03
--------------------------------*/
.itemBlockA03 {
	background: #eceae4;
	padding: 30px 20px 20px;
}
.itemBlockA03 .ttl { font-size: 148%; }
.itemBlockA03 .headingBlockB02,
.itemBlockA03 .headingBlockB03 { margin-bottom: 20px; }
.itemBlockA03 .headingBlockB03 .ttl {
	float: left;
	font-size: 148%; 
	font-weight: bold; 
}
.itemBlockA03 .headingBlockB03 .link {
	float: right;
	margin-top: 6px;
	font-size: 113%;
}
.itemBlockA03 .headingBlockB03 .link a {
	background: url(/common/img/cmn_icon_04.png) left center no-repeat;
	padding-left: 17px;
	margin-left: 20px;
}
.itemBlockA03 .headingBlockB03 .link a:first-child {
	margin-left: 0;
}
.itemBlockA03 .columnInner {
	font-size: 113%;
}
.itemBlockA03 .columnInner .txt01 {
	margin-bottom: 10px;
}
.itemBlockA03 .textAreaType01 {
	width: 100%;
	height: 200px;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.itemBlockA03 .textAreaType02 {
	background: #ffffff;
	border: 1px solid #cdcdcd;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.itemBlockA03 .textAreaType02 .headingBlockA01 h1.ttl {
	font-size: 130%;
}
.itemBlockA03 .textAreaType02 .contentsInner02 {
	font-size: 100%;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.itemBlockA03 {
		border: none;
		padding: 0px;
	}
	.itemBlockA03 .headingBlockB02 { background: #e3e3e3; margin-bottom: 0; }
	.itemBlockA03 .headingBlockB03 { margin-bottom: 0; }
	.itemBlockA03 .headingBlockB03 h2 {
		background: #e3e3e3;
		border-top: 2px solid #dadada;
		border-bottom: 2px solid #dadada;
		padding: 12px 10px;
	}
	.itemBlockA03 .headingBlockB03 .ttl,
	.itemBlockA03 .headingBlockB03 .link {
		float: none;
	}
	.itemBlockA03 .headingBlockB03 .link a,
	.itemBlockA03 .headingBlockB03 .link a:first-child {
		margin-left: 10px;
	}
	.itemBlockA03 .ttl,.itemBlockA03 .headingBlockB03 .ttl { font-size: 16px; }
	.itemBlockA03 .columnInner {
		padding: 15px 10px;
	}
	.itemBlockA03 .columnInner .txt01 {
		margin-bottom: 10px;
	}
	.itemBlockA03 .textAreaType01 {
		height: 100px;
		margin-bottom: 10px;
	}
	.itemBlockA03 .textAreaType02 {
		padding: 0 0 10px;
		margin-bottom: 10px;
	}
}


/*layoutBox01
--------------------------------*/
.layoutBox01 .boxInner01 {
	background: #eceae4;
	width: 550px;
	margin: 0 auto 20px;
	padding: 34px 40px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.layoutBox01 .boxInner01 {
		width: auto;
		padding: 20px 10px;
		margin-bottom: 10px;
	}
	.layoutBox01 p.center {
		margin: 0 10px;
	}
}

/*layoutBox02
--------------------------------*/
.layoutBox02 {
	display: table;
	width: 100%;
}
.layoutBox02 li {
	display: table-cell;
	width: 40%;
}
.layoutBox02 li:first-child {
	padding-right: 10px;
}
.layoutBox02 li .layoutInner {
	margin: 0 auto;
	padding: 0 15px;
}
.layoutBox02 li:first-child .layoutInner {
	background: url(/common/img/cmn_bg_02.png) right top repeat-y;
}
.layoutBox02 li .layoutInner .ttl {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.layoutBox02 li .layoutInner dl {
	margin-bottom: 20px;
}
.layoutBox02 li .layoutInner dt {
	height: 24px;
	background: url(/common/img/cmn_arrow_04.png) no-repeat right top;
	padding-right: 10px;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	margin-right: 10px;
}
.layoutBox02 li .layoutInner dt span {
	background: #a19c91;
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 8px 0 10px;
	min-width: 56px;
}
.layoutBox02 li .layoutInner dd {
	display: inline-block;
}
.layoutBox02 li .layoutInner dd a {
	background: url(/common/img/cmn_arrow_02.png) left center no-repeat;
	padding-left: 14px;
}

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.layoutBox02 li .layoutInner {
		border: none;
		border-radius: 0px;
		background: none;
		margin: 0 auto;
		padding: 0px;
	}
	.layoutBox02 li:first-child .layoutInner {
		background: none;
	}
	.layoutBox02 li .layoutInner .ttl {
		display: none;
	}
	.layoutBox02 li .layoutInner dl {
		margin-bottom: 10px;
	}
	.layoutBox02 li .layoutInner dt {
		display: none;
	}
	.layoutBox02 li .layoutInner dd {
		width: 100%;
		background: #2b2b2b;
		border-radius: 5px;
	}
	.layoutBox02 li .layoutInner dd a {
		display: block;
		background: url(/common/img/cmn_arrow_03.png) 5px center no-repeat;
		padding: 5px 5px 5px 17px;
		color: #ffffff;
		font-weight: bold;
	}
}

/* generalBlockA01
--------------------------------*/
.generalBlockA01 {
	width: 75%;
	margin: 0 auto;
	color: #ef3642;
	font-weight: bold;
	background: #ffe7e7 url(/common/img/cmn_icon_01.png) no-repeat 30px center;
	font-size: 16px;
	padding: 20px 20px 20px 100px;
}
.generalBlockA01 p {
	margin-bottom: 8px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.generalBlockA01 {
		width: auto;	
		padding: 10px 10px 10px 50px;
		background-position: 10px center;
		-webkit-background-size: 34px auto;
		background-size: 34px auto;
		font-size: 14px;
	}
	.generalBlockA01 p { margin-bottom: 0px; }
	.generalBlockA01 ul { font-size: 12px; }
}

/* generalBlockA02
--------------------------------*/
.generalBlockA02 {
	width: 75%;
	margin: 0 auto;
	font-weight: bold;
	background: #ffffff url(/common/img/cmn_icon_03.png) no-repeat 30px center;
	font-size: 16px;
	padding: 20px 20px 20px 100px;
}
.generalBlockA02 p {
	margin-bottom: 8px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.generalBlockA02 {
		width: auto;	
		padding: 10px 10px 10px 50px;
		background-position: 10px center;
		-webkit-background-size: 34px auto;
		background-size: 34px auto;
		font-size: 14px;
	}
	.generalBlockA02 p { margin-bottom: 0px; }
	.generalBlockA02 ul { font-size: 12px; }
}


/*====================================================================
 table
====================================================================*/
/*inputTable01
--------------------------------*/
.inputTable01 {
	width: 100%;
}
.inputTable01 th,
.inputTable01 td {
	vertical-align: top;
	padding-bottom: 20px;
}
.inputTable01 th {
	font-weight: bold;
	width: 30%;
	padding-top: 4px;
}
.inputTable01 td { width: 70%; }
.inputTable01 td input[type=text],
.inputTable01 td input[type=password] {
	width: 100%;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.inputTable01 th,
	.inputTable01 td { display: block; width: 100%; }
	.inputTable01 th { padding-bottom: 5px; }
	.inputTable01 td { padding-bottom: 20px; }
}

/*inputTable02
--------------------------------*/
.inputTable02 {
	width: 100%;
	font-size: 14px;
}
.inputTable02 th,
.inputTable02 td {
	vertical-align: top;
	padding-bottom: 20px;
}
.inputTable02 th { font-weight: bold; width: 33%; padding-top: 4px; }
.inputTable02 td { width: 67%; }
.inputTable02 td input[type=text],
.inputTable02 td input[type=password] {
	width: 60%;
	padding: 0 5px;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.inputTable02 { margin-bottom: 0px; }
	.inputTable02 th,
	.inputTable02 td { display: block; width: 100%; }
	.inputTable02 th { padding-bottom: 5px; }
	.inputTable02 td { padding-bottom: 20px; }
	.inputTable02 td input[type=text],
	.inputTable02 td input[type=password] {
		width: 100%;
	}
}
/*tableBlockA01
--------------------------------*/
.tableBlockA01 {
	width: 100%;
}
.tableBlockA01 th {
	width: 174px;
	border-right: #cdcdcd 1px solid;
    font-weight: bold;
    vertical-align: top;
    padding: 15px 20px 25px 0;
}
.tableBlockA01 th.normal {
	font-weight: normal;
}
.tableBlockA01 th .mustIcon {
	float: right;
}
.tableBlockA01 td {
	padding: 15px 20px 25px 20px;
}
/* tableBlockA01 .checkList01 */
.tableBlockA01 td .checkList01 {
	margin-top: -15px;
}
.tableBlockA01 td .checkList01 li {
	display: inline-block;
	margin: 15px 35px 0 0;
}
.tableBlockA01 td .checkList01.column02 li {
	display: inline-block;
	margin: 15px 0px 0 0;
	width: 48%;
}
/* tableBlockA01 .checkList02 */
.tableBlockA01 td .checkList02 li {
	padding-bottom: 30px;
}
.tableBlockA01 td .checkList02 li.land {
	padding-bottom: 0px;
}
.tableBlockA01 td .checkList02 dd {
	padding-top: 20px;
}
.tableBlockA01 td .checkList02 dd .cell {
	display: table-cell;
	padding-right: 30px;
}
.tableBlockA01 td .checkList02 dd .note01,
.tableBlockA01 td .checkList02 dd .note02 {
	font-size: 12px;
	display: block;
	margin-top: 4px;
}
.tableBlockA01 td .checkList02 dd .note01 { margin-left: 4em; }
.tableBlockA01 td .checkList02 dd .note02 { margin-left: 5em; }

/* tableBlockA01 .checkList03 */
.tableBlockA01 td .checkList03 li {
	margin: 15px 35px 0 0;
}
.tableBlockA01 td .checkList03 li label {
	margin-right: 10px;
}


.tableBlockA01 .onlyTh td,
.tableBlockA01 .onlyTh th {
	padding-bottom: 0px;
}
.tableBlockA01 td .link01 {
	background: url(/common/img/cmn_arrow_02.png) left center no-repeat;
	padding-left: 17px;
}
.tableBlockA01 td .link02 {
	background: url(/common/img/cmn_icon_04.png) left center no-repeat;
	padding-left: 17px;
}
.tableBlockA01 select,
.tableBlockA01 input {
	vertical-align: middle;
	margin-right: 5px;
}
.tableBlockA01 input[type=text] {
	margin-top: -5px;
	padding-left: 5px;
}
.tableBlockA01 textarea {
	width: 570px;
	height: 80px;
	padding: 5px;
}
.tableBlockA01 .inputType01 { width: 52px; }
.tableBlockA01 .inputType02 { width: 110px; }
.tableBlockA01 .inputType03 { width: 265px; }
.tableBlockA01 .inputType04 { width: 230px; }
.tableBlockA01 .inputType05 { width: 130px; }
.tableBlockA01 .inputType06 { width: 40px; }
.tableBlockA01 .selectType01 { width: 123px; }

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.tableBlockA01 th {
		display: block;
		width: auto;
		border-right: none;
		font-size: 15px;
	    padding: 0px 0px 10px 0;
	}
	.tableBlockA01 th .mustIcon {
		float: none;
		margin-left: 5px;
	}
	.tableBlockA01 td {
		display: block;
		padding: 0px 0 20px 0;
		font-size: 14px;
	}
	/* tableBlockA01 .checkList01 */
	.tableBlockA01 td .checkList01.block li {
		display: block;
	}
	.tableBlockA01 td .checkList01.column02 li {
		display: block;
		width: auto;
	}
	/* tableBlockA01 .checkList02 */
	.tableBlockA01 td .checkList02 li {
		padding-bottom: 20px;
	}
	.tableBlockA01 td .checkList02 dd {
		padding-top: 10px;
	}
	.tableBlockA01 td .checkList02 dd .cell {
		display: block;
		padding-right: 0px;
		margin-bottom: 10px;
	}
	/* tableBlockA01 .checkList03 */
	.tableBlockA01 td .checkList03 li label {
		margin-bottom: 5px;
		display: block;
	}

	.tableBlockA01 td .link01,
	.tableBlockA01 td .link02 {
		display: block;
		margin-top: 10px;
	}
	.tableBlockA01 select,
	.tableBlockA01 input {
		vertical-align: middle;
	}
	.tableBlockA01 input[type=text] {
		margin-top: 0px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.tableBlockA01 textarea {
		width: 100%;
		margin: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.tableBlockA01 .inputType01 { width: 30%; }
	.tableBlockA01 .inputType02 { width: 40%; }
	.tableBlockA01 .inputType03 { width: 100%; margin-right: 0; }
	.tableBlockA01 .inputType04 { width: 100%; margin-right: 0; }
	.tableBlockA01 .inputType05 { width: 34%; }
	.tableBlockA01 .inputType06 { width: 16%; }
	.tableBlockA01 .selectType01 { width: 123px; }
}

/*tableBlockB01
--------------------------------*/
.tableBlockB01 {
	width: 100%;
}
.tableBlockB01 th.head {
	width: 174px;
	border-right: #cdcdcd 1px solid;
    font-weight: bold;
    vertical-align: top;
    padding: 0px 20px 0px 0;
}
.tableBlockB01 th.head h2 {
	font-size: 18px;
	font-weight: bold;
}
.tableBlockB01 td.body {
	padding: 0px 20px 0px 20px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.tableBlockB01 th.head {
		display: block;
		width: auto;
		border-right: none;
	    padding: 0px;
	}
	.tableBlockB01 th.head h2 {
		font-weight: bold;
		font-size: 16px;
		background: #daebf1;
		padding: 10px;
	}
	.tableBlockB01 td.body {
		display: block;
		padding: 10px 0;
		font-size: 12px;
	}
}


/*====================================================================
 estateBlockA01
====================================================================*/
.estateBlockA01 {
	background: url(/common/img/cmn_bg_01.png) left top repeat-x;
	padding-top: 30px;
	margin-top: 30px;
	position: relative;
}
.estateBlockA01 .buildingName {
	margin-bottom: 10px;
}
.estateBlockA01 .buildingName .buildingType {
	margin-bottom: 10px;
}
.estateBlockA01 .buildingName .buildingType li {
	float: left;
	margin-right: 10px;
}
.estateBlockA01 .buildingName h2 {
	margin: 0;
	font-size: 22px;
	font-weight: bold;
}
.estateBlockA01 .buildingPhoto {
	float: left;
	display: table;
	table-layout: fixed;
	width: 150px;
	text-align: center;
}
.estateBlockA01 .buildingPhoto p {
	display: table-cell;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}
.estateBlockA01 .buildingPhoto p img {
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 150px;
}
.estateBlockA01 .buildingPhoto a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.estateBlockA01 .buildingSummary {
	float: right;
	width: 760px;
}
.estateBlockA01 .buildingSummary .buildingTableType1 {
    border-collapse: collapse;
}
.estateBlockA01 .buildingSummary .buildingTableType1 th,
.estateBlockA01 .buildingSummary .buildingTableType1 td {
    padding: 0 15px 8px;
    text-align: left;
	font-size: 113%;
	vertical-align: top;
}
.estateBlockA01 .buildingSummary .buildingTableType1 th {
    font-weight: bold;
    padding-right: 30px;
    background: url(/common/img/cmn_icon_05.png) no-repeat right top;
}
.estateBlockA01 .buildingSummary .buildingTableType1 td .buildingPrice {
    font-size: 113%;
    font-weight: bold;
}	
.estateBlockA01 .contactBlock {
	position: absolute;
	right: 20px;
	top: 60px;
}
.estateBlockA01 .contactBlock li {
	display: table-cell;
	width: 150px;
	padding-left: 10px;
}
.estateBlockA01 .contactBlock li p {
	font-size: 113%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
}
.estateBlockA01 .contactBlock li a {
	padding: 7px 10px 5px 26px;
	width: 100%;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-align: center;
}
.estateBlockA01 .contactBlock .btnOrange01 {
	background: #ff6c00;
}
.estateBlockA01 .contactBlock .btnOrange01 a {
	background: url(/common/img/cmn_arrow_03.png) 12px center no-repeat;
	color: #ffffff;
}
.estateBlockA01 .contactBlock .btnGray01 {
	background: #dedede;
}
.estateBlockA01 .contactBlock .btnGray01 a {
	background: url(/common/img/cmn_arrow_02.png) 12px center no-repeat;
	color: #2b2b2b;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.estateBlockA01 {
		padding: 15px 0 0;
		margin-top: 15px;
	}
	.estateBlockA01 .buildingName {
		float: right;
		width: 56%;
		margin: 0 10px 10px 0;
	}
	.estateBlockA01 .buildingName .buildingType {
		margin-bottom: 10px;
	}
	.estateBlockA01 .buildingName h2 {
		font-size: 16px;
	}
	.estateBlockA01 .buildingPhoto {
		float: left;
		width: 32%;
		margin: 0 0 10px 10px;
		text-align: center;
	}
	.estateBlockA01 .buildingPhoto p {
		width: 32%;
		height: 96px;
	}
	.estateBlockA01 .buildingPhoto p img {
		width: auto;
		height: auto;
		max-width: 96px;
		max-height: 96px;
	}
	.estateBlockA01 .buildingSummary {
		clear: both;
		float: none;
		width: 100%;
		padding: 0 10px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.estateBlockA01 .buildingSummary .buildingTableType1 th,
	.estateBlockA01 .buildingSummary .buildingTableType1 td {
		background: none;
		font-size: 12px;
	}
	.estateBlockA01 .buildingSummary .buildingTableType1 tr:first-child th,
	.estateBlockA01 .buildingSummary .buildingTableType1 tr:first-child td  {
		font-size: 14px;
		padding: 0;
	}
	.estateBlockA01 .buildingSummary .buildingTableType1 th {
		width: 20%;
		padding: 8px 10px 0 0;
	}
	.estateBlockA01 .buildingSummary .buildingTableType1 td {
		width: 60%;
		padding: 8px 0 0;
	}
	.estateBlockA01 .buildingSummary .buildingTableType1 th span,
	.estateBlockA01 .buildingSummary .buildingTableType1 td span {
		display: block;
	}
	.estateBlockA01 .contactBlock {
		position: static;
		clear: both;
		margin: 0 10px 12px;
	}
	.estateBlockA01 .contactBlock ul {
		display: table;
		width: 100%;
	}
	.estateBlockA01 .contactBlock li {
		width: 50%;
		padding-left: 0px;
	}
	.estateBlockA01 .contactBlock li:nth-child(2) {
		padding-left: 10px;
	}
	.estateBlockA01 .contactBlock li p {
		font-size: 14px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;	
	}
	.estateBlockA01 .contactBlock li a {
		padding: 7px 5px 5px 20px;
		width: 100%;
		color: #ffffff;
		background: url(/common/img/cmn_arrow_03.png) 12px center no-repeat;
	}
}


/*====================================================================
 estateBlockB01
====================================================================*/
.estateBlockB01 {
	padding-top: 0px;
}
.estateBlockB01 .buildingName {
	margin-bottom: 10px;
}
.estateBlockB01 .buildingName .buildingType {
	display: inline-block;
	margin-top: 3px;
}
.estateBlockB01 .buildingName .buildingType li {
	float: left;
	margin-right: 10px;
}
.estateBlockB01 .buildingName h2 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	font-size: 22px;
	font-weight: bold;
}
.estateBlockB01 .buildingPhoto {
	float: left;
	display: table;
	table-layout: fixed;
	width: 150px;
	text-align: center;
}
.estateBlockB01 .buildingPhoto p {
	display: table-cell;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}
.estateBlockB01 .buildingPhoto p img {
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 150px;
}
.estateBlockB01 .buildingPhoto a:hover img {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.estateBlockB01 .buildingSummary {
	float: right;
	width: 480px;
}
.estateBlockB01 .buildingSummary .tableType1 {
    border-collapse: collapse;
}
.estateBlockB01 .buildingSummary .tableType1 th,
.estateBlockB01 .buildingSummary .tableType1 td {
    padding: 0 15px 8px;
    text-align: left;
	font-size: 14px;
	vertical-align: top;
}
.estateBlockB01 .buildingSummary .tableType1 th {
    font-weight: bold;
    padding-right: 30px;
    background: url(/common/img/cmn_icon_05.png) no-repeat right top;
}
.estateBlockB01 .buildingSummary .tableType1 td .buildingPrice {
    font-size: 113%;
    font-weight: bold;
}	

@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.estateBlockB01 {
		padding: 0px 0 0;
		margin: 0;
	}
	.estateBlockB01 .buildingName {
		float: right;
		width: 56%;
		margin: 0 10px 10px 0;
	}
	.estateBlockB01 .buildingName .buildingType {
		margin-bottom: 10px;
		display: block;
	}
	.estateBlockB01 .buildingName h2 {
		font-size: 16px;
	}
	.estateBlockB01 .buildingPhoto {
		float: left;
		width: 32%;
		margin: 0 0 10px 10px;
	}
	.estateBlockB01 .buildingPhoto p {
		width: 32%;
		height: 96px;
	}
	.estateBlockB01 .buildingPhoto p img {
		width: auto;
		height: auto;
		max-width: 96px;
		max-height: 96px;
	}
	.estateBlockB01 .buildingSummary {
		clear: both;
		float: none;
		width: 100%;
		padding: 0 10px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.estateBlockB01 .buildingSummary .tableType1 th,
	.estateBlockB01 .buildingSummary .tableType1 td {
		background: none;
		font-size: 12px;
	}
	.estateBlockB01 .buildingSummary .tableType1 tr:first-child th,
	.estateBlockB01 .buildingSummary .tableType1 tr:first-child td  {
		font-size: 14px;
		padding: 0;
	}
	.estateBlockB01 .buildingSummary .tableType1 th {
		width: 20%;
		padding: 8px 10px 0 0;
	}
	.estateBlockB01 .buildingSummary .tableType1 td {
		width: 60%;
		padding: 8px 0 0;
	}
	.estateBlockB01 .buildingSummary .tableType1 th span,
	.estateBlockB01 .buildingSummary .tableType1 td span {
		display: block;
	}
}


/*====================================================================
 favorite pagination
====================================================================*/
.listPage .refineBlock .pagination {
	margin-top: 0;
}
.listPage .pagination {
	margin-top: 20px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
.listPage .pagination {
	margin-top: 0;
}
}


/*====================================================================
 listBlockA01
====================================================================*/
.listBlockA01 .feature2column {
	margin-top: 15px;
}
.listBlockA01 .feature2column a {
	display: inline-block;
	float: right;
	width: 443px;
	color: #2b2b2b;
	text-decoration: none;
}
.listBlockA01 .feature2column a:first-child {
	float: left;
}
.listBlockA01 .feature2column a:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.listBlockA01 .feature2column dl {
	background: #ffffff;
	padding: 20px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.listBlockA01 .feature2column dt {
	float: left;
}
.listBlockA01 .feature2column dd {
	margin-left: 135px;
}
.listBlockA01 .feature2column .title {
	margin-bottom: 10px;
	font-size: 130%;
	font-weight: bold;
}
.listBlockA01 .feature2column .text {
	font-size: 113%;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.listBlockA01 .feature2column a {
		float: none;
		width: 100%;
		margin-top: 10px;
	}
	.listBlockA01 .feature2column a:first-child {
		margin: 0;
	}
	.listBlockA01 .feature2column {
		margin: 15px 3% 10px;
	}
	.listBlockA01 .feature2column:last-child {
		margin: 0 3%;
	}
	.listBlockA01 .feature2column dl {
		width: 100%;
		padding: 15px;
	}
	.listBlockA01 .feature2column dt {
		width: 75px;
	}
	.listBlockA01 .feature2column dt img {
		width: 100%;
	}
	.listBlockA01 .feature2column dd {
		margin-left: 90px;
	}
	.listBlockA01 .feature2column .title {
		font-size: 113%;
	}
	.listBlockA01 .feature2column .text {
		font-size: 100%;
	}
}

/*====================================================================
 listTypeA01
====================================================================*/
.listTypeA01 {
	margin-top: -15px;
}
.listTypeA01 li {
	display: inline-block;
	margin: 15px 35px 0 0;
}
.listTypeA01 li input {
	vertical-align: middle;
	margin-right: 5px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.listTypeA01 li {
		display: block;
	}
	.listTypeA01 li input {
		vertical-align: middle;
	}
}

/*====================================================================
 listTypeB01
====================================================================*/
.listTypeB01 {
	display: table;
	width: 100%;
}
.listTypeB01 li {
	display: table-cell;
	width: 40%;
}
.listTypeB01 li input {
	vertical-align: middle;
	margin-right: 5px;
}
@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.listTypeB01 {
		display: block;
		margin-top: -15px;
		width: auto;
	}
	.listTypeB01 li {
		display: block;
		margin-top: 15px;
		width: auto;
	}
}


/*====================================================================
 listTypeC01
====================================================================*/
.listTypeC01 {
	list-style: outside;
	list-style-type: disc;
	margin-left: 2em;
}
.listTypeC01 li {
	margin-top: 5px;
}
.listTypeC01 li:first-child {
	margin-top: 0;
}


/*====================================================================
 listTypeD01
====================================================================*/
.listTypeD01 {
	list-style: decimal;
	margin-left: 2em;
}
.listTypeD01 li {
	margin-top: 5px;
}
.listTypeD01 li:first-child {
	margin-top: 0;
}


/*====================================================================
 listTypeE01
====================================================================*/
.listTypeE01 dt {
	font-weight: bold;
}
.listTypeE01 dd {
	margin: 0 0 1em 1em;
}
.listTypeE01 dd ul li {
	margin-top: 5px;
}
.listTypeE01 dd ul li:first-child {
	margin-top: 0;
}
.listTypeE01 dd .indentType01 {
	margin-left: 1em;
}
.listTypeE01 dd .indentType01 li {
	margin-bottom: 1em;
}
.listTypeE01 dd .indentType02 {
	margin-left: 2em;
}
.listTypeE01 dd .indentType02 li {
	margin: 0.5em 0 0;
}
.listTypeE01 dd .indentType02 li:first-child {
	margin: 0.5em 0 0;
}


/*====================================================================
 listTypeF01
====================================================================*/
.listTypeF01 dt {
	font-weight: bold;
}
.listTypeF01 dd {
	margin: 0 0 1em;
}
.listTypeF01 dd .indentType01 {
	margin-left: 1em;
}
.listTypeF01 dd .indentType01 li {
	margin-bottom: 1em;
}
.listTypeF01 dd .indentType02 {
	margin-left: 2em;
}
.listTypeF01 dd .indentType02 li {
	margin: 0.5em 0 0;
}


/*====================================================================
 link
====================================================================*/
.linkBullet01 a {
	background: url(/common/img/cmn_arrow_02.png) left center no-repeat;
	padding-left: 17px;
}

.linkBullet02 a {
	background: url(/common/img/cmn_icon_04.png) left center no-repeat;
	padding-left: 17px;
}
ul.linkBullet01 li,
ul.linkBullet02 li {
	margin-top: 5px;
}
ul.linkBullet01:first-child,
ul.linkBullet02:first-child {
	margin-top: 0;
}



/*====================================================================
 inputSwitchArea
====================================================================*/

#inputSwitchArea .columnInner {
	position: relative;
}
#inputSwitchArea .columnInner .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	top: 0;
	left: 0;
}



/*====================================================================
 selectSwitchArea
====================================================================*/

#selectSwitchArea .SwitchBox .layoutInner {
	position: relative;
}
#selectSwitchArea .SwitchBox .layoutInner .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	-ms-filter: "alpha(opacity=70)";
	opacity: 0.7;
	top: 0;
	left: 0;
}



/*====================================================================
 modal
====================================================================*/
body#modal {
	background: #f9f9f9;
	min-width: 100%;
}

.modalBlock {
	width: 100%;
	text-align: left;
}

.modalBlock .title {
	margin-bottom: 15px;
	font-size: 130%;
	font-weight: bold;
}
.modalBlock .name {
	margin-bottom: 10px;
}

.modalBlock .btnBlock {
	text-align: center;
}
.modalBlock .btnBlock p {
	display: inline-block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 113%;
	font-weight: bold;
	text-align: center;
}
.modalBlock .btnBlock a {
	display: block;
	width: 7em;
	padding: 7px 10px 5px 10px;
	text-decoration: none;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.modalBlock .btnBlock .btnBlack01 {
	background: #2b2b2b;
}
.modalBlock .btnBlock .btnBlack01 a {
	background: url(/common/img/cmn_arrow_03.png) 10px center no-repeat;
	color: #ffffff;
}
.modalBlock .btnBlock .btnGray01 {
	background: #dedede;
	margin-left: 10px;
}
.modalBlock .btnBlock .btnGray01 a {
	background: url(/common/img/cmn_arrow_02.png) 10px center no-repeat;
	color: #2b2b2b;
}
.modalBlock .btnBlock p:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.modalBlock .text {
	font-size: 113%;
}
@media only screen and (max-width: 736px) {
	.modalBlock {
		width: 100%;
		text-align: left;
		padding-right: 10px;
		
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	.modalBlock .text {
		font-size: 100%;
	}
}
