@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/*lumpMix*/
.lumpMix .lumpL {
	float: left;
	margin: 0 25px 5px 0;
}
.lumpMix .lumpR {
	float: right;
	margin: 0 0 25px 40px;
}
.lumpMix .lumpEnd { overflow:hidden; zoom:1;}

.lumpMix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.lumpMix {
	zoom: 1;
}



/* help.html
--------------------------------------------------------------------*/
.help .titleBlock {
	padding-top: 10px;
	margin-bottom: 25px;
}
.help .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 15px;
}
.help .titleBlock p {
	font-size: 113%;
}

.help .section01 .funcBox {
	background: #ffffff;
	padding: 20px;
	margin-top: 30px;
}
.help .section01 .funcBox:first-child {
	margin-top: 0;
}
.help .section01 .funcBox dt {
	margin-bottom: 15px;
	font-weight: bold;
}
.help .section01 .funcBox dt .number {
	float: left;
	background: #f5a900;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	padding-top: 7px;
	color: #ffffff;
	font-size: 130%;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.help .section01 .funcBox dt .title {
	float: left;
	margin: 7px 0 0 10px;
	font-size: 148%;
}
.help .section01 .funcBox dd {
	font-size: 113%;
}



/* saitemap.html,link.html
--------------------------------------------------------------------*/
.sitemap .headingBlockA01,
.link .headingBlockA01 {
	margin-bottom: 15px;
}

.sitemap .bgBlock01,
.link .bgBlock01 {
	background: #ffffff;
	padding: 20px;
}
.sitemap .bgBlock01 .blockInner,
.link .bgBlock01 .blockInner {
	float: right;
	border-right: none;
	width: 418px;
	padding: 0 0 0 20px;
}
.sitemap .bgBlock01 .blockInner:first-child,
.link .bgBlock01 .blockInner:first-child {
	float: left;
	border-right: 1px dotted #c2c2c2;
	padding: 0 19px 0 0;
}
.sitemap .bgBlock01 a,
.link .bgBlock01 a {
	background: url(/common/img/cmn_arrow_05.png) left 0.4em no-repeat;
	padding-left: 14px;
	color: #2b2b2b;
}

.sitemap .bgBlock01 .linkText,
.link .bgBlock01 .linkText {
	background: url(/info/img/sitemap_bg_01.png) right center no-repeat;
	height: 36px;
	margin-top: 30px;
	font-size: 130%;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.sitemap .bgBlock01 .linkText:first-child,
.link .bgBlock01 .linkText:first-child {
	margin-top: 0;
}
.sitemap .bgBlock01 .linkText a,
.link .bgBlock01 .linkText a {
	display: block;
	background: url(/common/img/cmn_arrow_05.png) 14px 0.9em no-repeat;
	padding: 8px 14px 0 28px;
}

.sitemap .bgBlock01 ul {
	margin: 15px 0 0 30px;
}
.sitemap .bgBlock01 ul.spMt20 {
	margin-top: 0;
}
.sitemap .bgBlock01 ul li {
	margin-top: 15px;
	font-size: 113%;
}
.sitemap .bgBlock01 ul li:first-child {
	margin-top: 0;
}
.sitemap .bgBlock01 ul li ul {
	margin: 15px 0 0 24px;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.sitemap .bgBlock01,
	.link .bgBlock01 {
		padding: 15px 10px;
	}
	
	.sitemap .bgBlock01 .blockInner,
	.link .bgBlock01 .blockInner {
		float: none;
		width: 100%;
		padding: 0;
	}
	.sitemap .bgBlock01 .blockInner:first-child,
	.link .bgBlock01 .blockInner:first-child {
		float: none;
		border-right: none;
		padding: 0;
		margin: 0 0 25px;
	}
	.sitemap .bgBlock01 a,
	.link .bgBlock01 a {
		background: url(/common/img/cmn_arrow_05.png) left 0.3em no-repeat;
	}
	
	.sitemap .bgBlock01 .linkText,
	.link .bgBlock01 .linkText {
		margin-top: 25px;
	}
	
	.sitemap .bgBlock01 ul {
		margin: 15px 0 0 14px;
	}
	.sitemap .bgBlock01 ul a {
		display: block;
	}
	.sitemap .bgBlock01 ul li {
		margin-top: 15px;
	}
	.sitemap .bgBlock01 ul li ul {
		margin: 15px 0 0 14px;
	}
}
