@charset "UTF-8";

/*====================================================================
 loan-simulation
====================================================================*/
.inquiry .lead {
	font-size: 113%;
	margin-bottom: 20px;
}
.inquiry .linkBlock01 {
	margin-bottom: 40px;
}
.inquiry .linkBlock01 a {
	float: left;
	display: block;
	width: 285px;
	margin-left: 30px;
	color: #2b2b2b;
	text-decoration: none;
}
.inquiry .linkBlock01 a:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.inquiry .linkBlock01 a:first-child {
	margin: 0;
}
.inquiry .linkBlock01 dl {
	background: #ffffff;
	border: 1px solid #e7e7e7;
	border-bottom: 3px solid #e7e7e7;
	padding: 20px;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.inquiry .linkBlock01 dt {
	margin-bottom: 10px;
}
.inquiry .linkBlock01 dt .img {
	margin-bottom: 10px;
}
.inquiry .linkBlock01 dt .title {
	font-size: 148%;
	font-weight: bold;
}
.inquiry .linkBlock01 dd {
	font-size: 113%;
}

.inquiry .contactBlock {
	display: table;
	width: 100%;
}
.inquiry .contactBlock dt,
.inquiry .contactBlock dd {
	display: table-cell;
	vertical-align: middle;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.inquiry .contactBlock dt {
	background: #e8e1d0;
	width: 27%;
	padding: 20px 5px 20px 20px;
}
.inquiry .contactBlock dt p {
	padding-left: 20px;
}
.inquiry .contactBlock dt p:first-child {
	background: url(/inquiry/img/inquiry_icon_04.png) left top no-repeat;
	font-size: 130%;
	font-weight: bold;
}
.inquiry .contactBlock dd {
	background: #f1ebdb;
	width: 73%;
	padding: 20px;
}
.inquiry .contactBlock dd .tel {
	margin-bottom: 5px;
	font-size: 173%;
	font-weight: bold;
}
.inquiry .contactBlock dd .hours {
	color: #3b3b3b;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
/*====================================================================
 loan-simulation
====================================================================*/
	.inquiry .headingBlockA01 {
		margin: 0 0 10px;
	}
	.inquiry .contentsInner01 {
		margin: 0;
	}
	.inquiry .lead {
		margin-bottom: 10px;
	}
	.inquiry .linkBlock01 {
		margin-bottom: 20px;
	}
	.inquiry .linkBlock01 a {
		float: none;
		width: 100%;
		margin: 10px 0 0;
	}
	.inquiry .linkBlock01 dl {
		padding: 15px;
	}

	.inquiry .contactBlock {
		display: block;
	}
	.inquiry .contactBlock dt,
	.inquiry .contactBlock dd {
		display: block;
	}
	.inquiry .contactBlock dt {
		width: 100%;
		padding: 10px 20px;
	}
	.inquiry .contactBlock dt p:first-child {
		font-size: 113%;
	}
	.inquiry .contactBlock dd {
		width: 100%;
		padding: 10px 20px;
	}
	.inquiry .contactBlock dd .tel {
		font-size: 173%;
		font-weight: bold;
	}
	.inquiry .contactBlock dd .hours {
		color: #3b3b3b;
	}
}
