@charset "shift_jis";

html {
    height: 100%;
}

body {
	color: #000;
	background: #eee url(/admin_rsc/cmn/imgs/bg_main_001.gif) top left repeat-y;
    height: 100%;
}

body.white {
	color: #000;
	background: #eee;
    height: 100%;
}

strong {
	font-weight: bold;
}

#wrap {
	width: 100%;
/* H.Takahashi 2012/04/18 chg-start */
/*	height:100%;*/
	min-height:96%;
	height:auto !important;
	height:96%;
	padding-bottom:20px;
/* H.Takahashi 2012/04/18 chg-end */
	background: transparent url(/admin_rsc/cmn/imgs/copyright_bg.gif) bottom left no-repeat;
}



/* headerArea ---------------------------*/
#headerArea {
	width: 100%;
	background-color: #fff;
}

#headerAreaInner {
	width: 980px;
	padding: 13px 0;
}

#headerlogoArea {
	width: 35%;
	float: left;
}

#headerlogoArea img {
	padding-left: 13px;
}

#headerNavArea {
	width: 55%;
	text-align: right;
	float: right;
}

#headerNavArea ul {
	list-style: none;
}

#headerNavArea li {
	line-height: 100%;
}

#headerNavArea ul li.logout {
	margin-top: 10px;
}



/* mainArea ---------------------------*/
#mainArea {
	width: 980px;
}



/* sideArea ---------------------------*/
#sideArea {
	width: 200px;
	float: left;
}

#manageInfo {
	margin: 10px 10px 2px 10px;
}

#manageInfo p.h7 {
	line-height: 100%;
}

#manageInfo p.small {
	line-height: 120%;
	margin-top: 10px;
}

#lnavBlockA01 {
	line-height: 100%;
}

#lnavBlockA01 dt img {
	display: block;
}

#lnavBlockA01 li {
	display: block;
	list-style: none;
}

#lnavBlockA01 dd ul li {
	border-bottom: 1px solid #fff;
	background: #e6ecf5 url(/admin_rsc/cmn/imgs/lnav_bg_001.gif) top left no-repeat;
}

#lnavBlockA01 dd ul li.lnavParentsListA01 {
	border-bottom: none;
	background: #e6ecf5 url(/admin_rsc/cmn/imgs/lnav_bg_002.gif) top left no-repeat;
}

#lnavBlockA01 dd ul li a {
	_height: 10px;
	display: block;
	padding: 7px 8px 6px 25px;
}

#lnavBlockA01 dd ul ul li {
	border-right: 1px solid #d4d8de;
	border-bottom: 1px dotted #c2c2c2;
	background: #fff url(/admin_rsc/cmn/imgs/lnav_bg_003.gif) top left no-repeat;
}

#lnavBlockA01 dd ul ul li.lnavChildListFirst {
	border-top: 1px dotted #c2c2c2;
}

#lnavBlockA01 dd ul ul li.lnavChildListActive {
	border-bottom: 1px dotted #c2c2c2;
	background: #5e87c7 url(/admin_rsc/cmn/imgs/lnav_bg_004.gif) top left no-repeat;
}

#lnavBlockA01 dd ul ul li a {
	padding-left: 30px;
}





/* contentsArea ---------------------------*/
#contentsArea {
	width: 780px;
	float: left;
}

#tnavBlockA01 {
	margin-left: 1px;
	padding-top: 3px;
	background-color: #eee;
}

#tnavBlockA01 img {
	margin-left: 10px;
}

.contentsAreaInner {
	padding: 5px 20px 20px 10px;
	background: #fff url(/admin_rsc/cmn/imgs/con_bg_001.gif) top right no-repeat;
}

.contentsAreaInner p {
	line-height: 140%;
}

#panList {
	line-height: 100%;
	margin: 5px 0 10px 0;
}

.headingAreaInner {
	margin-left: 10px;
}

.headingAreaInner2 {
	margin-left: 20px;
}
/* 2012/02/27 add_start ----------------*/
.headingAreaInner3 {
	margin-right: 10px;
}
/* 2012/02/27 add_end ----------------*/

.imgBlockA01 {
	margin: 10px 0;
}

ul.listBlockA01,
ol.listBlockA01,
ul.listBlockA02,
ol.listBlockA02 {
	margin-left: 1.5em;
}

ul.listBlockA02,
ol.listBlockA02 {
	margin-bottom: 10px;
}



/* headingArea ---------------------------*/
.headingAreaA01 h1 {
	font-weight: bold;
	line-height: 100%;
	margin: 35px 0 15px 0;
	padding: 5px;
	border-left: 7px solid #2255a4;
	background-color: #c8d8f1;
}

.headingAreaB01 {
	margin: 30px 0 10px 0;
	padding-bottom: 2px;
	border-bottom: 1px dotted #c2c2c2;
}

.headingAreaB01 h2 {
	font-weight: bold;
	line-height: 100%;
	*line-height: 85%;
	padding: 0 0 2px 19px;
	*padding: 2px 0 2px 20px;
	background: #fff url(/admin_rsc/cmn/imgs/h2_bg_001.gif) top left no-repeat;
}

.headingAreaC01 h3 {

}



/* txtBlock ---------------------------*/
p.tsp {
	margin-top: 10px;
}

p.rlc {
	text-align: center;
}



/* fixBlock ---------------------------*/
.fixBlockA01 {

}



/* flexBlock ---------------------------*/
.flexBlockA01,
.flexBlockA02,
.flexBlockA03 {
	width: 100%;
}

.flexBlockB01,
.flexBlockB02,
.flexBlockB03,
.flexBlockB04 {
	width: 100%;
	text-align: center;
}
/* 2012/02/27 add_start ----------------*/
.flexBlockB05 {
	width: 100%;
	text-align: right;
}
/* 2012/02/27 add_end ----------------*/

.flexBlockB02 {
	margin-top: 80px;
}

.flexBlockB03 {
	margin-top: 15px;
}

.flexBlockB03Inner {
	width: 240px;
	margin: 0 auto;
}

.flexBlockB04 {
	margin-top: 20px;
}



/* floatBlock ---------------------------*/
.flexBlockA01 .floatBlock01 {
	width: 370px;
	float: left;
}

.flexBlockA01 .floatBlock02 {
	width: 370px;
	float: right;
}

.flexBlockA02 .floatBlock01 {
	width: 360px;
	float: left;
}

.flexBlockA02 .floatBlock02 {
	width: 360px;
	float: right;
}

.flexBlockA03 .floatBlock01 {
	width: 298px;
	float: left;
}

.flexBlockA03 .floatBlock02 {
	width: 232px;
	float: right;
}



/* btnBlock ---------------------------*/
.btnBlockA01 {
	width: 225px;
	padding-top: 5px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_001_wrap_01.gif) top left no-repeat;
}

.btnBlockA01Inner {
	padding-bottom: 5px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_001_wrap_03.gif) bottom left no-repeat;
}

.btnBlockA01Inner2 {
	background: #e64b63 url(/admin_rsc/cmn/imgs/bt_001_wrap_02.gif) top left no-repeat;
}

.btnBlockA01Inner2 a {
	font-weight: bold;
	text-decoration: none;
	*height: 17px;
	display: block;
	padding: 5px 15px 6px 35px;
}

.btnBlockB01 {
	width: 240px;
	margin: 0 auto;
	padding-top: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_002_wrap_01.gif) top left no-repeat;
}

.btnBlockB01Inner {
	padding-bottom: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_002_wrap_03.gif) bottom left no-repeat;
}

.btnBlockB01Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_002_wrap_02.gif) top left repeat-y;
}

.btnBlockB01Inner2 a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	_height: 5px;
	display: block;
	padding: 1px 5px 0 5px;
}

.btnBlockB01Inner2 a span {
	padding: 1px 5px 1px 20px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_001.gif) top left no-repeat;
}

.flexBlockB03 .btnBlockC01 {
	float: left;
}

.flexBlockB03 .btnBlockC02 {
	float: right;
}

.btnBlockC01,
.btnBlockC02 {
	width: 87px;
	margin: 0 auto;
	padding-top: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_003_wrap_01.gif) top left no-repeat;
}

.btnBlockC01Inner,
.btnBlockC02Inner {
	padding-bottom: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_003_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC01Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_003_wrap_02.gif) top left repeat-y;
}

.btnBlockC01Inner2 a,
.btnBlockC02Inner2 a{
	color: #000;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	_height: 5px;
	display: block;
	padding-top: 1px;
}

.btnBlockC01Inner2 a span,
.btnBlockC02Inner2 a span{
	padding: 1px 5px 1px 10px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_003.gif) top left no-repeat;
}

.btnBlockC02 {
	width: 112px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_004_wrap_01.gif) top left no-repeat;
}

.btnBlockC02Inner {
	background: #fff url(/admin_rsc/cmn/imgs/bt_004_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC02Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_004_wrap_02.gif) top left repeat-y;
}

.btnBlockC02Inner2 a span {
	background: transparent url(/admin_rsc/cmn/imgs/arrow_004.gif) top left no-repeat;
}

/* 2012/03/27 add_start ----------------*/

.flexBlockB03 .btnBlockC03 {
	float: right;
}

.btnBlockC03 {
	width: 112px;
	margin: 0 auto;
	padding-top: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_007_wrap_01.gif) top left no-repeat;
}

.btnBlockC03Inner {
	padding-bottom: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_007_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC03Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_007_wrap_02.gif) top left repeat-y;
}

.btnBlockC03Inner2 a span {
	background: transparent url(/admin_rsc/cmn/imgs/arrow_007.gif) top left no-repeat;
	padding: 1px 5px 1px 10px;
}

.btnBlockC03Inner2 a{
	color: #fff !important;
	font-weight: normal;
	text-decoration: none !important;
	text-align: center;
	_height: 5px;
	display: block;
	padding-top: 1px;
}


/* 2012/03/12 add_start ----------------*/
.btnBlockC08 {
	width: 174px;
	margin: 0 auto;
	padding-top: 6px;
}

.btnBlockC08Inner {
	padding-bottom: 6px;
}

.btnBlockC08Inner2 a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	_height: 5px;
	display: block;
	padding-top: 1px;
}

.btnBlockC08Inner2 a span {
	padding: 1px 5px 1px 10px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_003.gif) top left no-repeat;
}

.btnBlockC08 {
	width: 224px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_008_wrap_01.gif) top left no-repeat;
}

.btnBlockC08Inner {
	background: #fff url(/admin_rsc/cmn/imgs/bt_008_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC08Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_008_wrap_02.gif) top left repeat-y;
}

.btnBlockC08Inner2 a span {
	background: transparent url(/admin_rsc/cmn/imgs/arrow_004.gif) top left no-repeat;
}



.btnBlockC09 {
	width: 112px;
	margin: 0 auto;
	padding-top: 6px;
}

.btnBlockC09Inner {
	padding-bottom: 6px;
}

.btnBlockC09Inner2 a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	_height: 5px;
	display: block;
	padding-top: 1px;
}

.btnBlockC09 {
	width: 112px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_009_wrap_01.gif) top left no-repeat;
}

.btnBlockC09Inner {
	background: #fff url(/admin_rsc/cmn/imgs/bt_009_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC09Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_009_wrap_02.gif) top left repeat-y;
}

.btnBlockC09Inner2 a span {
	padding: 1px 5px 1px 10px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_003.gif) top left no-repeat;
}


/* 2012/03/12 add_end ----------------*/



/* btnLine ---------------------------*/
a.btnLineA01 {
	padding: 1px 0 0 20px;
	display: block;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_002.gif) top left no-repeat;
}



/* table ---------------------------*/
table.tableA1 {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #cecece;
	table-layout:fixed;
}
table.tableA1 th {
	text-align: left;
	padding: 10px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
}

table.tableA1 td {
	padding: 10px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
	word-wrap:break-word;
}

/*詳細ページテーブル用  松波追加*/
table.tableA2 {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #cecece;
}
table.tableA2 th {
	text-align: left;
	padding: 10px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
}

table.tableA2 td {
	padding: 10px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
}
/* 2012/02/27 add_start ----------------*/
/* 一覧見出し*/
table.tableA3 {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #cecece;
}
table.tableA3 th {
	width: 120px;
	text-align: left;
	padding: 8px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
}

table.tableA3 td {
	padding: 8px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #cecece;
	font-weight: normal;
}

/* 一覧明細 */
table.tableA4 {
	border-width: 0 0px 0px 0;
	border-style: solid;
	border-color: #cecece;
}
table.tableA4 th {
	width: 120px;
	text-align: left;
	padding: 1px;
	font-weight: normal;
}

table.tableA4 td {
	padding: 1px;
	border-width: 0px 0 0 0px;
	font-weight: normal;
}

table.tableA4 td {
	padding: 1px;
	border-width: 0px 0 0 0px;
	font-weight: normal;
}
/* 2012/02/27 add_end ----------------*/

.head_tr {
    background-color : #E8E8E8;
}

.head_tr2 {
    background-color : #B5B5B5;
}


/* form ---------------------------*/
/*　-----仮削除 fromこいたばし
	 input {
		width:130px;
		padding: 2px;
		border-width:1px;
		border-style:solid;
		border-color:#666 #cdcdcd #cdcdcd #666;

	}
*/

select {
	border-width:1px;
	border-style:solid;
	border-color:#666 #cdcdcd #cdcdcd #666;
}



/* etc ---------------------------*/
.start,
.start h1,
.start h2,
.start h3,
.start h4,
.start h5,
.start h6 {
	margin-top: 0;
}

.end {
	margin: 0; padding: 0;
}

.pageTopArea {
	margin: -3px 0 20px 0;
}



/* link ---------------------------*/
a:link {
	color: #00f;
	text-decoration: underline;
}

a:visited {
	color: #00f;
	text-decoration: underline;
}

a:hover {
	color: #69f;
	text-decoration: none;
}

#lnavBlockA01 a:link,
#lnavBlockA01 a:visited,
#lnavBlockA01 a:hover {
	color: #000;
	text-decoration: none;
}

#lnavBlockA01 dd ul ul li.lnavChildListActive a:link,
#lnavBlockA01 dd ul ul li.lnavChildListActive a:visited,
#lnavBlockA01 dd ul ul li.lnavChildListActive a:hover {
	color: #fff;
	text-decoration: none;
}

.btnBlockA01 a:link,
.btnBlockA01 a:visited,
.btnBlockA01 a:hover {
	color: #fff;
	text-decoration: none;
}

.btnBlockB01 a:link,
.btnBlockB01 a:visited,
.btnBlockB01 a:hover,
.btnBlockC01 a:link,
.btnBlockC01 a:visited,
.btnBlockC01 a:hover,
.btnBlockC02 a:link,
.btnBlockC02 a:visited,
.btnBlockC02 a:hover {
	color: #000;
	text-decoration: none;
}
/* 2012/03/12 add_start ----------------*/
.btnBlockC08 a:link,
.btnBlockC08 a:visited,
.btnBlockC08 a:hover,
.btnBlockC09 a:link,
.btnBlockC09 a:visited,
.btnBlockC09 a:hover {
	color: #000;
	text-decoration: none;
}
/* 2012/03/12 add_end ----------------*/



/* clear ---------------------------*/
.clear:after {
   content: " ";
   display: block;
   visibility: hidden;
   clear: both;
   height: 0.1px;
   font-size: 1px;
   line-height: 0;
}

* html .clear {
	display: inline-block;
}

/*\*/
* html .clear {
	height: 1%;
}

.clear {
	display: block;
}
/* */

/* H.Takahashi 2012/04/17 add-start */
#mainAreaSub {
	width: 633px;
}
#contentsAreaSub {
	width: 633px;
	float: left;
}
.input_border2 {
	position:relative;
	top:2px;
}
/* H.Takahashi 2012/04/17 add-end */
