@charset "shift_jis";

/* 共通エラーメッセージ ---------------------------*/
.errorMessage {
	display: block;
	color: red;
}

/* テキストエリア ---------------------------*/
.tArea {
	padding: 2px;
}

/* 特約店編集画面駅選択ボタン ---------------------------*/
#selectStation {
	float: right;
}

#CompanyRight {
	  float:right;
	}

/* 左メニュー ---------------------------*/
#lnavBlockA01 dd ul li p {
	_height: 10px;
	display: block;
	padding: 7px 8px 6px 25px;
	font-weight: bold;
}

/* エラーページ ---------------------------*/
#largeArea {
	width: 987px;
	float: left;
}

/* 物件詳細のPDF出力ボタン ---------------------------*/
/* btnBlockC05:shamaison用　btnBlockC06:OEM用 --------*/
.btnBlockC05 {
	float: left;
}
.btnBlockC06 {
	float: right;
}

.btnBlockC05 {
	width: 87px;
	margin: 0 auto;
	padding-top: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_01.gif) top left no-repeat;
}
.btnBlockC06 {
	width: 87px;
	margin: 0 auto;
	padding-top: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_006_wrap_01.gif) top left no-repeat;
}

.btnBlockC05Inner {
	padding-bottom: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_03.gif) bottom left no-repeat;
}
.btnBlockC06Inner {
	padding-bottom: 6px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_006_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC05Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_02.gif) top left repeat-y;
}
.btnBlockC06Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_02.gif) top left repeat-y;
}

.btnBlockC05 {
	width: 112px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_01.gif) top left no-repeat;
}
.btnBlockC06 {
	width: 112px;
	background: #fff url(/admin_rsc/cmn/imgs/bt_006_wrap_01.gif) top left no-repeat;
}

.btnBlockC05Inner {
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_03.gif) bottom left no-repeat;
}
.btnBlockC06Inner {
	background: #fff url(/admin_rsc/cmn/imgs/bt_006_wrap_03.gif) bottom left no-repeat;
}

.btnBlockC05Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_005_wrap_02.gif) top left repeat-y;
}
.btnBlockC06Inner2 {
	background: #fff url(/admin_rsc/cmn/imgs/bt_006_wrap_02.gif) top left repeat-y;
}

.btnBlockC05Inner2 a span {
	padding: 1px 5px 1px 10px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_005.gif) top left no-repeat;
}
.btnBlockC06Inner2 a span {
	padding: 1px 5px 1px 10px;
	background: transparent url(/admin_rsc/cmn/imgs/arrow_006.gif) top left no-repeat;
}


.btnBlockC05Inner2 a,
.btnBlockC06Inner2 a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	_height: 5px;
	display: block;
	padding-top: 1px;
}

.meyasupdf {
	font-size: 12pt;
	text-align:right;
}
