@charset "UTF-8";

/*====================================================================
 reset styles
====================================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
select, input, button, textarea {
	margin: 0;
	font-size: 99%;
	vertical-align: top;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
a {
	outline: 0;
}
ul, ol {
	list-style: none;
}
img, iframe {
	vertical-align: top;
}
table {
	font-size: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
tr {
	vertical-align: top;
}
caption, th {
	text-align:left;
}
abbr, acronym {
	border: 0;
}
sup {
	vertical-align: top;
	font-size: 81%;
}
sub {
	vertical-align: bottom;
	font-size: 81%;
}



/*====================================================================
 general purpose
====================================================================*/
/* margin
--------------------------------------------------------------------*/
.mt05n{margin-top:-5px !important;}
.mt00 {margin-top: 0 !important;}
.mt05 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

.mb00 {margin-bottom: 0 !important;}
.mb05 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}

.ml00 {margin-left: 0 !important;}
.ml05 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}
.ml65 {margin-left: 65px !important;}

.mr00 {margin-right: 0 !important;}
.mr05 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
.mr75 {margin-right: 75px !important;}


/* padding
--------------------------------------------------------------------*/
.pt00 {padding-top: 0 !important;}
.pt05 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}

.pb00 {padding-bottom: 0 !important;}
.pb05 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}

.pl00 {padding-left: 0 !important;}
.pl05 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}

.pr00 {padding-right: 0 !important;}
.pr05 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}


/* text-align
--------------------------------------------------------------------*/
.left {text-align: left !important;}
.center {text-align: center !important;}
.right {text-align: right !important;}
.top {vertical-align: top !important;}
.middle {vertical-align: middle !important;}
.bottom {vertical-align: bottom !important;}


/* float
--------------------------------------------------------------------*/
.fLeft {float: left !important;}
.fRight {float: right !important;}
.fNone {float: none !important;}


/* font-size
--------------------------------------------------------------------*/
.f10 {font-size: 81%;}
.f11 {font-size: 88%;}
.f13 {font-size: 106%;}
.f14 {font-size: 113%;}
.f15 {font-size: 124%;}
.f16 {font-size: 130%;}
.f17 {font-size: 138%;}
.f18 {font-size: 148%;}
.f19 {font-size: 163%;}
.f20 {font-size: 173%;}


/* font-type
--------------------------------------------------------------------*/
.bold {font-weight: bold;}
.normal {font-weight: normal;}
.italic {font-style: italic;}


/* display
--------------------------------------------------------------------*/
.displayNone {display: none !important;}
.displayBlock {display: block !important;}
.SPdisplayBlock {display: none !important;}



/*====================================================================
 html body
====================================================================*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	min-width: 980px;
	font-size: 75%;
	line-height: 1.34;
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	text-align: center;
	color: #2b2b2b;
	background: #f9f7f3;
}
input, select, textarea, table {
	font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
}



/*====================================================================
 link
====================================================================*/
a:link, a:visited {
	color: #006fcd;
	text-decoration: none;
}
a:hover, a:active {
	color: #006fcd;
	text-decoration: underline;
}



/*====================================================================
 navigation
====================================================================*/
#mainNav {
	background: #ffffff;
	border-bottom: 1px solid #edebe5;
	text-align: left;
}

#mainNav nav {
	width: 980px;
	margin: 0 auto;
}
#mainNav nav ul.mainnav li {
	float: left;
	border-bottom: 3px solid #ffffff;
}
#mainNav nav ul.mainnav li:hover {
	float: left;
	border-bottom: 3px solid #fad47f;
}
#mainNav nav ul.mainnav li.current {
	float: left;
	border-bottom: 3px solid #f6a900;
}
#mainNav nav #personalInfo,
#mainNav nav #personalInfo02 {
	float: right;
	margin-top: 25px;
}
#mainNav nav #personalInfo ul li,
#mainNav nav #personalInfo02 ul li {
	float: left;
	padding: 0 10px;
}
#mainNav nav #personalInfo ul li:first-child {
	border-right: 1px dotted #757575;
	padding: 0 10px 0 0;
}
#mainNav nav #personalInfo ul li span.number,
#mainNav nav #personalInfo02 ul li span.number {
	padding: 0 3px;
	font-size: 130%;
	font-weight: bold;
	line-height: 1;
}
#mainNav nav #personalInfo ul li a,
#mainNav nav #personalInfo02 ul li a {
	display: block;
	color: #2b2b2b;
}
#mainNav nav #personalInfo ul li a span.number,
#mainNav nav #personalInfo02 ul li a span.number {
	color: #f6a900;
}


#subNav {
	background: #edebe5;
	text-align: left;
}

#subNav nav {
	width: 980px;
	margin: 0 auto;
}
#subNav nav ul.subnav01 li {
	float: left;
	width: 180px;
	border-bottom: 3px solid #edebe5;
	font-size: 106%;
	text-align: center;
}
#subNav nav ul.subnav01 li.current {
	border-bottom: 3px solid #757575;
	font-weight: bold;
}
#subNav nav ul.subnav01 li:hover {
	border-bottom: 3px solid #acacac;
}
#subNav nav ul.subnav01 li a {
	display: block;
	border-bottom: 3px solid #edebe5;
	padding: 10px 0 6px;
	color: #3d3d3d;
	text-decoration: none;
}



/*====================================================================
 contents
====================================================================*/
#contents {
	min-width: 980px;
	margin-top: 15px;
}
#contentsInner {
	margin: 0 auto 50px;
	width: 980px;
	text-align: left;
}


/* text-align
--------------------------------------------------------------------*/
#topicPath {
	font-size: 88%;
	margin-bottom: 15px;
}
#topicPath #topicInner li {
	background: url(/common/img/topicpath_bg_02.png) right center no-repeat;
	float: left;
	padding: 2px 16px 2px 12px;
}
#topicPath #topicInner li:first-child {
	background: url(/common/img/topicpath_bg_01.png) right center no-repeat;
}
#topicPath #topicInner li.current {
	background: none;
}
#topicPath #topicInner li a {
	color: #3e3e3e;
}
#topicPath #topicInner li:first-child a {
	color: #ffffff;
}


/* pageTop
--------------------------------------------------------------------*/
#pageTop {
	display: none;
	position: relative;
	height: 0;
	margin: 0 auto;
}
#pageTop a {
	position: fixed;
	bottom: 0px;
	right: 3%;
	display: block;
	width: 40px;
	hegiht: 40px;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	/*====================================================================
	 general purpose
	====================================================================*/
	/* display
	--------------------------------------------------------------------*/
	.SPdisplayNone {display: none !important;}
	.SPdisplayBlock {display: block !important;}
	
	
	
	/*====================================================================
	 html body
	====================================================================*/
	html {
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}
	
	body {
		min-width: 320px;
		font-size: 75%;
		line-height: 1.34;
		font-family: Meiryo,'Lucida Grande','Hiragino Kaku Gothic ProN',sans-serif;
	}
	
	
	
	/*====================================================================
	 navigation
	====================================================================*/
	#mainNav nav {
		background: #3b3b3b;
		width: 100%;
		margin: 0 auto;
	}
	#mainNav nav ul.mainnav{
		display: none;
	}
	#mainNav nav #personalInfo,
	#mainNav nav #personalInfo02 {
		margin: 0;
		padding: 5px 0;
	}
	#mainNav nav #personalInfo ul li:first-child {
		border-right: 1px dotted #ffffff;
	}
	#mainNav nav #personalInfo ul li a,
	#mainNav nav #personalInfo02 ul li a {
		color: #ffffff;
	}
	
	
	#subNav {
		display: none;
	}
	
	
	
	/*====================================================================
	 contents
	====================================================================*/
	#contents {
		min-width: 320px;
		margin: 0;
	}
	#contentsInner {
		margin: 0 3%;
		padding: 0;
		width: 94%;
		text-align: left;
	
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	
	
	/* text-align
	--------------------------------------------------------------------*/
	#topicPath {
		display: none;
	}


	/* pageTop
	--------------------------------------------------------------------*/
	#pageTop {
		display:none;
	}
}



/*====================================================================
 clearfix
====================================================================*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
