@charset "UTF-8";

/*====================================================================
 header
====================================================================*/
#header {
	position: relative;
	width: 100%;
	min-width: 980px;
	zoom: 1;
	z-index: 100;
	background: #ffffff;
}

#header .headerInner {
	width: 980px;
	margin: 0 auto;
	text-align: left;
}

#header .headerInner #logoBlock {
	float: left;
	margin: 15px 0 20px;
	height: 24px;
}
#header .headerInner #logoBlock img {
	vertical-align: baseline;
}
#header .headerInner #logoBlock a {
	display: block;
}
#header #logoBlock .brandlogo {
	display: inline-block;
}
#header #logoBlock .sitelogo {
	display: inline-block;
	margin-left: 20px;
}

#header .headerInner #utilityNav {
	float: right;
	margin-top: 16px;
}
#header .headerInner #utilityNav li {
	float: left;
	border-left: 1px dotted #707070;
	margin-right: 18px;
	padding-left: 18px;
	font-size: 106%;
}
#header .headerInner #utilityNav li:first-child {
	border: none;
}
#header .headerInner #utilityNav li a {
	display: block;
	color: #000000;
}
#header .headerInner #utilityNav li.login a {
	background: url(/common/img/header_icon_01.png) left 0.1em no-repeat;
	padding: 2px 0 0 23px;
	font-weight: bold;
}
#header .headerInner #utilityNav li.member a {
	background: url(/common/img/header_icon_02.png) left 0.1em no-repeat;
	padding: 2px 0 0 23px;
	font-weight: bold;
}
#header .headerInner #utilityNav li.contact a {
	background: url(/common/img/header_icon_03.png) left 0.1em no-repeat;
	padding: 2px 0 0 21px;
	color: #707070;
}
#header .headerInner #utilityNav li.sitemap a {
	background: url(/common/img/header_icon_04.png) left 0.1em no-repeat;
	padding: 2px 0 0 21px;
	color: #707070;
}
	
#header #SPheader {
	display: none;
}

#simpleheader {
	width: 100%;
	min-width: 980px;
	background: #ffffff;
	border-bottom: 4px solid #565656;
	margin-bottom: 15px;
}
#simpleheader .headerInner {
	width: 980px;
	padding: 15px 0;
	margin: 0 auto;
	text-align: left;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
#simpleheader #logoBlock .brandlogo {
	display: inline-block;
}
#simpleheader #logoBlock .sitelogo {
	display: inline-block;
	margin-left: 20px;
}



/*====================================================================
 footer
====================================================================*/
#footer {
	min-width: 980px;
	background: #d6d6d6;
	text-align: left;
}
	
#footer #SPfooterNav {
	display: none;
}
		
#footer #siteCategory {
	position: relative;
	width: 980px;
	margin: 0 auto;
	padding: 25px 0 30px;
}

#footer #siteCategory ul {
	float: left;
	display: table;
	width: auto;
	margin-right: 20px;
}

#footer #siteCategory li {
	display: table-cell;
	width: 200px;
	border-left: 1px solid #bfbfbf;
	padding-left: 20px;
	vertical-align: top;
}
#footer #siteCategory li:first-child {
	border-left: none;
	padding-left: 10px;
}

#footer #siteCategory dt {
	padding-top: 2px;
	font-size: 130%;
	font-weight: bold;
}	
#footer #siteCategory dd {
	margin-top: 10px;
	font-size: 88%;
}
#footer #siteCategory dt+dd {
	margin-top: 15px;
}
#footer #siteCategory a {
	color: #2b2b2b;
}
#footer #siteCategory dd a {
	background: url(/common/img/footer_icon_04.png) left 0.4em no-repeat;
	padding-left: 14px;
}
#footer #siteCategory .category01 dt {
	background: url(/common/img/footer_icon_01.png) left center no-repeat;
	padding-left: 28px;
}
#footer #siteCategory .category02 dt {
	background: url(/common/img/footer_icon_02.png) left center no-repeat;
	padding-left: 24px;
}
#footer #siteCategory .category03 {
	background: url(/common/img/footer_icon_03.png) left center no-repeat;
	padding: 2px 0 0 24px;
	font-size: 130%;
	font-weight: bold;
}
#footer #siteCategory ul li ul {
	display: block;
	float: none;
	margin: -10px 0 0;
}
#footer #siteCategory ul li ul li {
	display: block;
	width: auto;
	border: none;
	padding: 0;
	margin-top: 10px;
}
#footer #siteCategory ul li ul li:first-child {
	padding: 2px 0 0;
}
#footer #siteCategory ul li ul li a {
	background: url(/common/img/footer_icon_04.png) left 0.4em no-repeat;
	padding-left: 14px;
}

#footer #footerMenu {
	background: #f3f1ea;
}
#footer #footerMenu .menuInner {
	width: 980px;
	margin: 0 auto;
	padding: 20px 0 50px;
}
#footer #footerMenu .menuInner a {
	color: #2b2b2b;
}

#footer #footerMenu .menuInner ul {
	float: left;
	margin-left: 10px;
}
#footer #footerMenu .menuInner ul li {
	float: left;
	border-right: 2px solid #d2d0ca;
	padding: 2px 17px 0;
	line-height: 1;
}
#footer #footerMenu .menuInner ul li:first-child {
	border-left: 2px solid #d2d0ca;
}
#footer #footerMenu .menuInner #copyright {
	float: right;
}

#simplefooter {
	min-width: 980px;
	background: #d6d6d6;
	text-align: left;
}
#simplefooter #copyright {
	width: 980px;
	margin: 0 auto;
}
#simplefooter #copyright .copyrightInner {
	padding: 15px;
	text-align: center;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
	/*====================================================================
	 header
	====================================================================*/
	#header {
		position: relative;
		width: 100%;
		min-width: 320px;
		zoom: 1;
		z-index: 100;
		background: #ffffff;
	}
	
	#header .headerInner {
		display: none;
	}
	
	#header #SPheader {
		display: block;
	}
	#header #SPheader #logoBlock {
		float: left;
		width: 170px;
		margin: 13px 0 0 10px;
	}
	#header #SPheader #logoBlock a {
		display: block;
	}
	#header #SPheader #logoBlock .brandlogo {
		display: inline-block;
	}
	#header #SPheader #logoBlock .sitelogo {
		display: inline-block;
		margin-left: 10px;
	}
	#header #SPheader #logoBlock .brandlogo img,
	#header #SPheader #logoBlock .sitelogo img {
		height: 19px;
	}
	
	#header #SPheader #mainnav {
		float: right;
		display: table;
		width: auto;
	}
	#header #SPheader #mainnav li {
		display: table-cell;
		width: 45px;
	}
	#header #SPheader #mainnav li a,
	#header #SPheader #mainnav li span {
		display: block;
		height: 45px;
		text-indent: -9999px;
		cursor: pointer;
	}
	#header #SPheader #mainnav li.login a {
		background: url(/common/img/sp_header_icon_02.png) center center no-repeat;
		background-size: 25px 25px;
	}
	#header #SPheader #mainnav li.member a {
		background: url(/common/img/sp_header_icon_01.png) center center no-repeat;
		background-size: 25px 25px;
	}
	#header #SPheader #mainnav li.menu span {
		background: url(/common/img/sp_header_icon_03.png) center center no-repeat;
		background-size: 25px 25px;
	}
	#header #SPheader #mainnav li.menu span.open {
		background: #3b3b3b url(/common/img/sp_header_icon_03_act.png) center center no-repeat;
		background-size: 25px 25px;
	}
	
	#header #SPheader ul.head_accordion {
		display: none;
		clear:both;
		text-align: left;
	}
	#header #SPheader ul.head_accordion li,
	#header #SPheader ul.head_accordion a {
		display:block;
		background: #3b3b3b;
		color: #ffffff;
		font-weight: bold;
	}
	#header #SPheader ul.head_accordion span {
		display:block;
		background: url(/common/img/sp_header_icon_05.png) left center no-repeat;
		background-size: 9px 7px;
	}
	#header #SPheader ul.head_accordion ul {
		display:none;
	}
	#header #SPheader ul.head_accordion > li > p {
		background: #3b3b3b;
		cursor:pointer;
	}
	#header #SPheader ul.head_accordion > li > p span,
	#header #SPheader ul.head_accordion > li > a {
		display:block;
		background: url(/common/img/sp_header_icon_05.png) 20px 1.5em no-repeat;
		background-size: 9px 7px;
		border-bottom: 2px solid #545454;
		padding: 15px 15px 15px 35px;
		font-size: 113%;
	}
	#header #SPheader ul.head_accordion > li > p span.open {
		background: url(/common/img/sp_header_icon_04.png) 20px 1.5em no-repeat;
		background-size: 9px 7px;
	}
	#header #SPheader ul.head_accordion > li > ul > li {
		background: #545454;
	}
	#header #SPheader ul.head_accordion > li > ul > li > a {
		background: url(/common/img/sp_header_icon_05.png) 40px 1.5em no-repeat;
		background-size: 9px 7px;
		padding: 15px 15px 15px 55px;
	}
	
	#simpleheader {
		width: 100%;
		min-width: 320px;
		background: #ffffff;
		border-bottom: 4px solid #565656;
	}
	#simpleheader .headerInner {
		width: 100%;
		padding: 13px 10px;
	}
	#simpleheader #logoBlock a {
		display: block;
	}
	#simpleheader #logoBlock .brandlogo {
		display: inline-block;
	}
	#simpleheader #logoBlock .sitelogo {
		display: inline-block;
		margin-left: 10px;
	}
	#simpleheader #logoBlock .brandlogo img,
	#simpleheader #logoBlock .sitelogo img {
		height: 19px;
	}
	
	
	
	/*====================================================================
	 footer
	====================================================================*/
	#footer {
		margin-top: 0;
		min-width: 320px;
		background: #e1e1e1;
		text-align: left;
	}
	
	#footer #SPfooterNav {
		display: block;
		background: #3b3b3b;
		width: 100%;
	}
	#footer #SPfooterNav ul {
		display: table;
		background: #3b3b3b;
		width: 100%;
	}
	#footer #SPfooterNav li {
		display: table-cell;
		width: 20%;
		text-align: center;
	}
	#footer #SPfooterNav li.linkTop {
		background: url(/common/img/sp_footer_icon_04.png) center 8px no-repeat;
		background-size: 21px 18px;
	}
	#footer #SPfooterNav li.category01 {
		background: url(/common/img/sp_footer_icon_01.png) center 8px no-repeat;
		background-size: 21px 18px;
		width: 24%;
	}
	#footer #SPfooterNav li.category02 {
		background: url(/common/img/sp_footer_icon_02.png) center 8px no-repeat;
		background-size: 23px 18px;
		width: 24%;
	}
	#footer #SPfooterNav li.category03 {
		background: url(/common/img/sp_footer_icon_03.png) center 8px no-repeat;
		background-size: 21px 18px;
		width: 32%;
	}
	#footer #SPfooterNav li a {
		display: block;
		padding: 35px 0 10px;
		color: #ffffff;
		font-size: 113%;
		font-weight: bold;
	
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	
	#footer #siteCategory {
		display: none;
	}
	
	#footer #footerMenu {
		background: #ffffff;
	}
	#footer #footerMenu .menuInner {
		width: 100%;
		margin: 0 auto;
		padding: 15px 0;
	
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#footer #footerMenu .menuInner a {
		color: #2b2b2b;
	}
	
	#footer #footerMenu .menuInner ul {
		float: none;
		margin: -5px 20px 15px;
	}
	#footer #footerMenu .menuInner ul li {
		float: left;
		margin-top: 5px;
		padding: 2px 6px 0;
		border-right: 1px solid #2b2b2b;
	}
	#footer #footerMenu .menuInner ul li:first-child {
		border-left: 1px solid #2b2b2b;
	}
	#footer #footerMenu .menuInner #copyright {
		float: none;
		border-top: 1px solid #cbcac7;
		padding-top: 15px;
		text-align: center;
	}

	#simplefooter {
		min-width: 320px;
	}
	#simplefooter #copyright {
		width: 100%;
	}
	#simplefooter #copyright .copyrightInner {
		padding: 10px;
	}
}
