@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/*btn*/
.btnBlack01:hover {
	opacity:0.7;
	-ms-filter: "alpha(opacity=70)";
}
.btnBlack01 a {
	text-decoration: none;
	cursor: pointer;
}

.btnBlock {
	margin-top: 35px;
	text-align: center;
}
.btnBlock .btnBlack01 {
	background: none repeat scroll 0 0 #2b2b2b;
	border-radius: 4px;
	display: inline-block;
	font-size: 113%;
	font-weight: bold;
}
.btnBlock .btnBlack01 a {
	background: url(/common/img/cmn_arrow_03.png) 12px center no-repeat;
	color: #ffffff;
	display: block;
	padding: 10px 15px 8px 29px;
}
.btnBlock ul li {
	margin-left: 15px;
}
.btnBlock ul li:first-child {
	margin-left: 0;
}

/*lumpMix*/
.lumpMix .lumpL {
	float: left;
	margin: 0 30px 5px 0;
}
.lumpMix .lumpR {
	float: right;
	margin: 0 0 5px 30px;
}
.lumpMix .lumpEnd { overflow:hidden; zoom:1;}

.lumpMix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.lumpMix {
	zoom: 1;
}

/*title*/
.titleBlock {
	border: 1px solid #cccccc;
	height: 140px;
	padding: 55px 50px 40px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
}



/* index.html
--------------------------------------------------------------------*/
.event .titleBlock {
	background: #ffffff url(/event/img/index_h1_01.jpg) right top no-repeat;
	margin-bottom: 40px;
}

.event .bgBlock01 {
	background: #ffffff;
	padding: 20px 25px;
}
.event .bgBlock01 .eventList {
	margin-top: -15px;
	font-size: 113%;
}
.event .bgBlock01 dt {
	clear: both;
	float: left;
	width: 22%;
	margin-top: 15px;
}
.event .bgBlock01 dt span {
	display: inline-block;
	width: 7.2em;
	padding: 3px 0;
	margin-right: 20px;
	color: #ffffff;
	font-size: 81%;
	font-weight: bold;
	text-align: center;
}
.event .bgBlock01 dt span.iconEvent01 {
	background: #eba83d;
}
.event .bgBlock01 dd {
	float: right;
	width: 78%;
	margin-top: 15px;
}
.event .bgBlock01 dd span {
	display: inline-block;
	width: 3.5em;
	padding: 2px 0;
	margin-left: 10px;
	color: #ffffff;
	font-size: 81%;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}
.event .bgBlock01 dd span.iconNew01 {
	background: #ef3644;
}




/* detail
--------------------------------------------------------------------*/
.detail .titleBlock {
	background: #ffffff url(/event/img/detail_h1_01.jpg) right top no-repeat;
	margin-bottom: 40px;
}

.detail h2,
.detail h3 {
	font-size: 184%;
	font-weight: bold;
	margin-bottom: 10px;
}

.detail .bgBlock01 {
	background: #ffffff;
	border-top: 1px solid #d1d0ce;
	padding: 25px;
	margin-bottom: 40px;
}
.detail .bgBlock01 p,
.detail .bgBlock01 dl,
.detail .bgBlock01 li {
	font-size: 113%;
}
.detail .bgBlock01 .bgBlock02 {
	background: #f8efe4;
	padding: 20px;
}
.detail .bgBlock01 .bgBlock02 .lumpL .img1column {
	text-align: center;
}
.detail .bgBlock01 .bgBlock02 .lumpL .img2column {
	float: left;
	text-align: center;
}
.detail .bgBlock01 .bgBlock02 .lumpL .img1column span,
.detail .bgBlock01 .bgBlock02 .lumpL .img2column span {
	display: block;
	margin-top: 5px;
	font-size: 81%;
}
.detail .dlList01 dt {
	float: left;
	width: 7%;
}
.detail .dlList01 dd {
	float: right;
	width: 92%;
}
.detail .dlList02 {
	margin-top: -10px;
}
.detail .dlList02 dt {
	clear: both;
	float: left;
	background: url(/common/img/cmn_icon_06.png) left 0.3em no-repeat;
	padding-left: 15px;
	margin-top: 10px;
}
.detail .dlList02 dd {
	float: left;
	margin: 10px 0 0 15px;
}
.detail .listType01 li{
	background: url(/common/img/cmn_icon_06.png) left 0.4em no-repeat;
	padding-left: 15px;
	margin-top: 5px;
}
.detail .listType01 li:first-child {
	margin-top: 0;
}

.detail .column2Block .columnInner {
	float: right;
	width: 423px;
}
.detail .column2Block .columnInner:first-child {
	float: left;
}

.detail .mapBlock #mapInner {
	width: 866x;
	height: 350px;
}



@media only screen and (max-width: 736px) and (-webkit-min-device-pixel-ratio: 1.5) {
/*====================================================================
 contents
====================================================================*/
/* index.html
--------------------------------------------------------------------*/
	.event .titleBlock {
		background: #ffffff url(/event/img/index_h1_01.jpg) right top no-repeat;
		background-size: 260px 69px;
		height: 69px;
		padding: 20px 10px;
		margin: 10px 0 0;
			
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.event .titleBlock h1 {
		font-size: 184%;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.event .bgBlock01 {
		background: #ffffff;
		padding: 15px 10px;
		margin-top: 10px;
	}
	.event .bgBlock01 .eventList {
		margin-top: -10px;
		font-size: 100%;
	}
	.event .bgBlock01 dt {
		float: none;
		width: 100%;
		margin-top: 10px;
	}
	.event .bgBlock01 dt span {
		width: 6.5em;
		padding: 2px 0;
		margin-right: 10px;
		font-size: 88%;
	}
	.event .bgBlock01 dd {
		float: none;
		width: 100%;
		margin-top: 5px;
		border-bottom: 1px solid #dadada;
		padding-bottom: 10px;
			
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.event .bgBlock01 dd span {
		display: inline-block;
		width: 3.5em;
		padding: 2px 0;
		margin-left: 10px;
		color: #ffffff;
		font-size: 88%;
	}
	.event .bgBlock01 dd span.iconNew01 {
		background: #ef3644;
	}
}
