<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:site.properties" />
  </bean>



  <!-- DB 接続 定義 （MySQL 用）-->
  <bean id="requestScopeDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://10.96.146.82:3306/housingTestDb?characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;profileSQL=false&amp;traceProtocol=false" />
    <property name="username" value="housingTest" />
    <property name="password" value="housingTest" />
  </bean>




  <!-- 共通 DAO 定義 -->

  <!--
  	管理ユーザー情報
  	フレームワークの管理ユーザー認証や、管理ユーザーメンテナンス機能はこの DAO を使用している。
  	管理ユーザーとして使用する DAO は、AdminUserInterface のインターフェースを実装している必要がある。
  -->
  <bean id="adminLoginInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.AdminLoginInfo"/>
    <property name="sequenceNextvalExpression" value="SELECT CONCAT('A', LPAD(admin_user_id_nextval(), 19, '0'))"/>
    <property name="pkFields" value="adminUserId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	管理ユーザー権限情報
  	管理ユーザーの権限情報を管理する。　標準仕様では複数権限の付与はサポートしていない。
  	管理ユーザー権限情報として使用する DAO は、AdminUserRoleInterface のインターフェースを実装している必要がある。
  -->
  <bean id="adminRoleInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.AdminRoleInfo"/>
    <property name="pkFields" value="adminUserId,roleId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	管理ユーザー一覧取得用 DAO
  	AdminUserInterface を実装したユーザー情報管理用DAO の alias は adminLoginInfoDAO にする事。
  	AdminUserRoleInterface を実装したロール情報管理用DAO alias は adminRoleInfo にする事。
  	この条件を満たせない JoinDAO の場合、Command クラスのカスタマイズが必要になる。
  -->
  <bean id="adminUserListDAO" class="jp.co.transcosmos.dm3.dao.JoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="joinable1" ref="adminLoginInfoDAO"/>
    <property name="alias1" value="adminLoginInfo"/>
    <property name="joinable2" ref="adminRoleInfoDAO"/>
    <property name="alias2" value="adminRoleInfo"/>
    <property name="conditions">
      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
        <property name="field1" value="adminUserId"/>
        <property name="field2" value="adminUserId"/>
      </bean>
    </property>
  </bean>

  <!-- ユーザーID 情報 -->
  <bean id="userInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.UserInfo"/>
    <property name="sequenceNextvalExpression" value="SELECT CONCAT('C', LPAD(user_id_nextval(), 19, '0'))"/>
    <property name="pkFields" value="userId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	マイページ会員情報
  	フレームワークのマイページ認証や、マイページ会員メンテナンス機能はこの DAO を使用している。
  	マイページ会員として使用する DAO は、MypageUserInterface のインターフェースを実装している必要がある。
  -->
  <bean id="memberInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.MemberInfo"/>
    <property name="pkFields" value="userId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- マイページ会員情報の検索用 DAO -->
  <bean id="memberListDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="memberInfoDAO"/>
    <property name="mainAlias" value="memberInfo"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="userInfoDAO"/>
          <property name="alias" value="userInfo"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="userId"/>
              <property name="field2" value="userId"/>
	          <property name="joinType" value="INNER JOIN"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- パスワード問合せ情報用 DAO -->
  <bean id="passwordRemindDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.PasswordRemind"/>
    <property name="pkFields" value="remindId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 都道府県マスタDAO -->
  <bean id="prefMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.PrefMst"/>
    <property name="pkFields" value="prefCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 市区町村マスタDAO -->
  <bean id="addressMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.AddressMst"/>
    <property name="pkFields" value="addressCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 郵便番号マスタDAO -->
  <bean id="zipMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.ZipMst"/>
    <property name="pkFields" value="zip"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 鉄道会社マスタ -->
  <bean id="rrMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.RrMst"/>
    <property name="pkFields" value="rrCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 路線マスタ -->
  <bean id="routeMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.RouteMst"/>
    <property name="pkFields" value="routeCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 駅名マスタ -->
  <bean id="stationMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.StationMst"/>
    <property name="pkFields" value="stationCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 駅・路線対応表 -->
  <bean id="stationRouteInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.StationRouteInfo"/>
    <property name="pkFields" value="routeCd,stationCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 駅・路線対応のマスタ取得 -->
  <bean id="stationRouteRelationDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="stationRouteInfoDAO"/>
    <property name="mainAlias" value="stationRouteInfo"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="routeMstDAO"/>
          <property name="alias" value="routeMst"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="routeCd"/>
              <property name="field2" value="routeCd"/>
              <property name="joinType" value="LEFT JOIN"/>
            </bean>
          </property>
        </bean>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="stationMstDAO"/>
          <property name="alias" value="stationMst"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="stationCd"/>
              <property name="field2" value="stationCd"/>
              <property name="joinType" value="LEFT JOIN"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- 登録除外路線マスタ -->
  <bean id="unregistRouteMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.UnregistRouteMst"/>
    <property name="pkFields" value="routeCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 設備情報マスタ -->
  <bean id="equipMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.EquipMst"/>
    <property name="pkFields" value="equipCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件こだわり条件マスタ -->
  <bean id="partSrchMstDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.PartSrchMst"/>
    <property name="pkFields" value="partSrchCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	お知らせ情報
  	フレームワークの認証処理や、お知らせメンテナンス機能はこの DAO を使用している。
  -->
  <bean id="informationDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.Information"/>
    <property name="sequenceNextvalExpression" value="SELECT LPAD(information_no_nextval(), 13, '0')"/>
    <property name="pkFields" value="informationNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	お知らせ公開先情報
  	お知らせ公開先情報を管理する。
  -->
  <bean id="informationTargetDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.InformationTarget"/>
    <property name="pkFields" value="informationNo,userId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

 <!--
  	お知らせ一覧取得用 DAO
  -->
  <bean id="informationListDAO" class="jp.co.transcosmos.dm3.dao.JoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="joinable1">
	  <bean class="jp.co.transcosmos.dm3.dao.JoinDAO">
	    <property name="dataSource" ref="requestScopeDS"/>
	    <property name="joinable1" ref="informationDAO"/>
	    <property name="alias1" value="information"/>
	    <property name="joinable2" ref="informationTargetDAO"/>
	    <property name="alias2" value="informationTarget"/>
	    <property name="joinType" value="LEFT JOIN"/>
	    <property name="conditions">
	      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
	        <property name="field1" value="informationNo"/>
	        <property name="field2" value="informationNo"/>
	      </bean>
	    </property>
	  </bean>
	</property>
    <property name="alias1" value="informationTarget"/>
    <property name="joinable2" ref="memberInfoDAO"/>
    <property name="alias2" value="memberInfo"/>
    <property name="joinType" value="LEFT JOIN"/>
    <property name="conditions">
      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
        <property name="field1" value="userId"/>
        <property name="field2" value="userId"/>
      </bean>
    </property>
  </bean>

  <!-- 駅マスタCSVアップロード用カスタムDAO -->
  <bean id="stationSortOrderUpdateDAO" class="jp.co.transcosmos.dm3.core.model.csvMaster.dao.StationSortOrderUpdateDAOImpl">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="dbBender" value="mysql"/>
  </bean>

  <!-- 物件基本情報 DAO -->
  <bean id="housingInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingInfo"/>
    <property name="sequenceNextvalExpression" value="SELECT CONCAT('H', LPAD(sys_housing_cd_nextval(), 19, '0'))"/>
    <property name="pkFields" value="sysHousingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件詳細情報 DAO -->
  <bean id="housingDtlInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingDtlInfo"/>
    <property name="pkFields" value="sysHousingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件ステータス情報 DAO -->
  <bean id="housingStatusInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingStatusInfo"/>
    <property name="pkFields" value="sysHousingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件設備情報 DAO -->
  <bean id="housingEquipInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingEquipInfo"/>
    <property name="pkFields" value="sysHousingCd,equipCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件こだわり条件情報 DAO -->
  <bean id="housingPartInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingPartInfo"/>
    <property name="pkFields" value="sysHousingCd,partSrchCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件画像ファイル名取得用 DAO -->
  <bean id="housingFileNameDAO" class="jp.co.transcosmos.dm3.core.model.housing.dao.HousingFileNameDAOImpl">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="sequenceNextvalExpression" value="SELECT LPAD(sys_housing_imgname_nextval(), 10, '0')"/>
  </bean>

  <!-- 物件画像情報 DAO -->
  <bean id="housingImageInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingImageInfo"/>
    <property name="pkFields" value="sysHousingCd,imageType,divNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!-- 物件拡張属性情報 DAO -->
  <bean id="housingExtInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingExtInfo"/>
    <property name="pkFields" value="sysHousingCd,category,keyName"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	 物件情報を構成する関連情報全体を取得する DAO
  	 ・物件基本と 1 対 1 の関係を対象
  	 ・建物情報関連は、建物情報の model へ処理を委譲するのでここでは結合しない。
  -->
  <bean id="housingMainJoinDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="housingInfoDAO"/>
    <property name="mainAlias" value="housingInfo"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="housingDtlInfoDAO"/>
          <property name="alias" value="housingDtlInfo"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="sysHousingCd"/>
              <property name="field2" value="sysHousingCd"/>
	          <property name="joinType" value="LEFT JOIN"/>
            </bean>
          </property>
        </bean>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="housingStatusInfoDAO"/>
          <property name="alias" value="housingStatusInfo"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="sysHousingCd"/>
              <property name="field2" value="sysHousingCd"/>
	          <property name="joinType" value="LEFT JOIN"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- 物件情報に該当する設備情報の取得用 -->
  <bean id="housingEquipListDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="housingEquipInfoDAO"/>
    <property name="mainAlias" value="housingEquipInfo"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="equipMstDAO"/>
          <property name="alias" value="equipMst"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="equipCd"/>
              <property name="field2" value="equipCd"/>
	          <property name="joinType" value="INNER JOIN"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!--　建物基本情報  -->
  <bean id="buildingInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingInfo"/>
    <property name="sequenceNextvalExpression" value="SELECT CONCAT('B', LPAD(sys_building_cd_nextval(), 19, '0'))"/>
    <property name="pkFields" value="sysBuildingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--　建物詳細情報 -->
  <bean id="buildingDtlInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingDtlInfo"/>
    <property name="pkFields" value="sysBuildingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
  <!-- 建物ランドマーク情報 -->
  <bean id="buildingLandmarkDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingLandmark"/>
    <property name="pkFields" value="sysBuildingCd,divNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
  <!-- 建物最寄り駅情報DAO -->
  <bean id="buildingStationInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingStationInfo"/>
    <property name="pkFields" value="sysBuildingCd,divNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--
  	建物画像情報
  -->
  <bean id="buildingImageInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingImageInfo"/>
    <property name="pkFields" value="sysBuildingCd,imageType,divNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>

  <!--　建物一覧取得用 DAO -->
  <bean id="buildingListDAO" class="jp.co.transcosmos.dm3.dao.JoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="joinable1" ref="buildingInfoDAO"/>
    <property name="alias1" value="buildingInfo"/>
    <property name="joinable2" ref="prefMstDAO"/>
    <property name="alias2" value="prefMst"/>
    <property name="joinType" value="LEFT JOIN"/>
    <property name="conditions">
      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
        <property name="field1" value="prefCd"/>
        <property name="field2" value="prefCd"/>
      </bean>
    </property>
  </bean>

  <!--　最寄り駅詳細取得用 DAO　-->
  <bean id="buildingStationInfoListDAO" class="jp.co.transcosmos.dm3.dao.JoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="joinable1">
	  <bean class="jp.co.transcosmos.dm3.dao.JoinDAO">
	    <property name="dataSource" ref="requestScopeDS"/>
	    <property name="joinable1" ref="buildingStationInfoDAO"/>
	    <property name="alias1" value="buildingStationInfo"/>
	    <property name="joinable2" ref="routeMstDAO"/>
	    <property name="alias2" value="routeMst"/>
	    <property name="joinType" value="LEFT JOIN"/>
	    <property name="conditions">
	      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
	        <property name="field1" value="defaultRouteCd"/>
	        <property name="field2" value="routeCd"/>
	      </bean>
	    </property>
	  </bean>
	</property>
    <property name="alias1" value="buildingStationInfo"/>
    <property name="joinable2" ref="stationMstDAO"/>
    <property name="alias2" value="stationMst"/>
    <property name="joinType" value="LEFT JOIN"/>
    <property name="conditions">
      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
        <property name="field1" value="stationCd"/>
        <property name="field2" value="stationCd"/>
      </bean>
    </property>
  </bean>
  
  <!-- 建物基本情報取得用 DAO（建物閲覧） -->
  <bean id="buildingInfoDetailDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
  	<property name="dataSource" ref="requestScopeDS"/>
  	<property name="mainDAO" ref="buildingInfoDAO"/>
  	<property name="mainAlias" value="buildingInfo"/>
  	<property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="prefMstDAO"/>
          <property name="alias" value="prefMst"/>
          <property name="joinType" value="LEFT JOIN"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="prefCd"/>
              <property name="field2" value="prefCd"/>
            </bean>
          </property>
        </bean>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="addressMstDAO"/>
          <property name="alias" value="addressMst"/>
          <property name="joinType" value="LEFT JOIN"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="addressCd"/>
              <property name="field2" value="addressCd"/>
            </bean>
          </property>
        </bean>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="buildingDtlInfoDAO"/>
          <property name="alias" value="buildingDtlInfo"/>
          <property name="joinType" value="LEFT JOIN"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="sysBuildingCd"/>
              <property name="field2" value="sysBuildingCd"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>
  <!--
  	路線リスト取得用 DAO
  -->
  <bean id="routeMstListDAO" class="jp.co.transcosmos.dm3.core.model.building.dao.RouteMstListDAOImpl">
  	<property name="dataSource" ref="requestScopeDS"/>
  </bean>

  <!--
  	駅名リスト取得用 DAO
  -->
  <bean id="stationMstListDAO" class="jp.co.transcosmos.dm3.core.model.building.dao.StationMstListDAOImpl">
    <property name="dataSource" ref="requestScopeDS"/>
  </bean>

  <!-- 建物最寄り駅情報用 DAO -->
  <bean id="buildingStationInfoDao" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.BuildingStationInfo"/>
    <property name="pkFields" value="sysBuildingCd,divNo"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
  
  <!-- 物件検索用 DAO -->
  <bean id="searchHousingDAO" class="jp.co.transcosmos.dm3.core.model.housing.dao.SearchHousingDAOImpl">
  	<property name="dataSource" ref="requestScopeDS"/>
    <property name="orPartSrchWarktime" ref="orPartSrchWarktime" />
    <property name="orPartSrchList" ref="orPartSrchList" />
    <property name="searchHousingRowMapper" ref="searchHousingRowMapper" />
  </bean>

  <!-- TODO:こだわり条件CDの定義と同時に見直しが必要 -->
  <util:map id="orPartSrchWarktime">
    <entry key="S05" value="5" />
    <entry key="S10" value="10" />
    <entry key="S15" value="15" />
    <entry key="S20" value="20" />
    <entry key="B05" value="5" />
    <entry key="B10" value="10" />
  </util:map>
  <util:list id="orPartSrchList">
    <ref bean="orPartSrchWarktime"/>
    <map>
      <entry key="FRE" value="FRE" />
      <entry key="REI" value="REI" />
    </map>
    <map>
      <entry key="NEW" value="NEW" />
      <entry key="C05" value="C05" />
    </map>
  </util:list>

  <!-- 物件検索用 DAO -->
  <bean id="searchHousingRowMapper" class="jp.co.transcosmos.dm3.core.model.housing.dao.SearchHousingRowMapper">
    <property name="valueObjectFactory" ref="valueObjectFactory" />
    <property name="housingManager" ref="housingManager" />
    <property name="buildingManager" ref="buildingManager" />
  </bean>

  <!-- お気に入り情報 -->
  <bean id="favoriteInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.FavoriteInfo"/>
    <property name="pkFields" value="sysHousingCd,userId"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- お気に入り情報に該当する物件基本情報の取得用 -->
  <bean id="favoriteListDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="favoriteInfoDAO"/>
    <property name="mainAlias" value="favoriteInfo"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="housingInfoDAO"/>
          <property name="alias" value="housingInfo"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="sysHousingCd"/>
              <property name="field2" value="sysHousingCd"/>
              <property name="joinType" value="LEFT JOIN"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- 物件リクエスト情報 -->
  <bean id="housingRequestInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingRequestInfo"/>
    <property name="sequenceNextvalExpression" value="SELECT CONCAT('REQ', LPAD(housing_request_id_nextval(), 10, '0'))"/>
    <property name="pkFields" value="housingRequestId"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエストエリア情報 -->
  <bean id="housingRequestAreaDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingRequestArea"/>
    <property name="pkFields" value="housingRequestId,prefCd,addressCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエスト路線情報 -->
  <bean id="housingReqRouteDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingReqRoute"/>
    <property name="pkFields" value="housingRequestId,routeCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエスト最寄駅情報 -->
  <bean id="housingReqStationDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingReqStation"/>
    <property name="pkFields" value="housingRequestId,stationCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエスト物件種類情報 -->
  <bean id="housingReqKindDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingReqKind"/>
    <property name="pkFields" value="housingRequestId,housingKindCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエスト間取情報 -->
  <bean id="housingReqLayoutDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingReqLayout"/>
    <property name="pkFields" value="housingRequestId,layoutCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 物件リクエストこだわり条件情報 -->
  <bean id="housingReqPartDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.HousingReqPart"/>
    <property name="pkFields" value="housingRequestId,partSrchCd"/>
    <property name="emptyStringsToNull" value="true"/>
  </bean>

  <!-- 問合せヘッダ情報用 DAO -->
  <bean id="inquiryHeaderDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.InquiryHeader"/>
    <property name="sequenceNextvalExpression" value="SELECT LPAD(inquiry_id_nextval(), 13, '0')"/>
    <property name="pkFields" value="inquiryId"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
  <!-- お問合せ内容種別情報用 DAO -->
  <bean id="inquiryDtlInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.InquiryDtlInfo"/>
    <property name="pkFields" value="inquiryId,inquiryDtlType"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
  <!-- 物件問合せ情報用 DAO -->
  <bean id="inquiryHousingDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.InquiryHousing"/>
    <property name="pkFields" value="inquiryId,sysHousingCd"/>
    <property name="emptyStringsToNull" value="true"/>
    <property name="useAutonumberColumns" value="false"/>
  </bean>
  
   <!--
  	問合せ情報一覧取得用 DAO
   -->
  <bean id="inquiryListDAO" class="jp.co.transcosmos.dm3.dao.JoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="joinable1" ref="inquiryHeaderDAO"/>
    <property name="alias1" value="inquiryHeader"/>
    <property name="joinable2" ref="inquiryDtlInfoDAO"/>
    <property name="alias2" value="inquiryDtlInfo"/>
    <property name="joinType" value="LEFT JOIN"/>
    <property name="conditions">
      <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
        <property name="field1" value="inquiryId"/>
        <property name="field2" value="inquiryId"/>
      </bean>
    </property>
  </bean>

  <!-- 特集グループ情報DAO -->
  <bean id="featureGroupInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.FeatureGroupInfo"/>
    <property name="pkFields" value="featureGroupId"/>
  </bean>

  <!-- 特集グループ対応表DAO -->
  <bean id="featureGroupPageDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.FeatureGroupPage"/>
    <property name="pkFields" value="featureGroupId,featurePageId"/>
  </bean>

  <!-- 特集ページ情報DAO -->
  <bean id="featurePageInfoDAO" class="jp.co.transcosmos.dm3.dao.ReflectingDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="valueObjectClassName" value="jp.co.transcosmos.dm3.core.vo.FeaturePageInfo"/>
    <property name="pkFields" value="featurePageId"/>
  </bean>

  <bean id="featureListDAO" class="jp.co.transcosmos.dm3.dao.StarJoinDAO">
    <property name="dataSource" ref="requestScopeDS"/>
    <property name="mainDAO" ref="featureGroupPageDAO"/>
    <property name="mainAlias" value="featureGroupPage"/>
    <property name="childDAOs">
      <list>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="featureGroupInfoDAO"/>
          <property name="alias" value="featureGroupInfo"/>
          <property name="joinType" value="INNER JOIN"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="featureGroupId"/>
              <property name="field2" value="featureGroupId"/>
            </bean>
          </property>
        </bean>
        <bean class="jp.co.transcosmos.dm3.dao.StarJoinDAODescriptor">
          <property name="dao" ref="featurePageInfoDAO"/>
          <property name="alias" value="featurePageInfo"/>
          <property name="joinType" value="INNER JOIN"/>
          <property name="conditions">
            <bean class="jp.co.transcosmos.dm3.dao.JoinCondition">
              <property name="field1" value="featurePageId"/>
              <property name="field2" value="featurePageId"/>
            </bean>
          </property>
        </bean>
      </list>
    </property>
  </bean>

  <!-- 共通 Model 定義 -->
  
  <!-- 管理ユーザー  Model （テスト用 Mock クラスでラップ）-->
  <bean id="adminUserManager" class="jp.co.transcosmos.dm3.testUtil.mock.MockAdminUserManage">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="adminUserListDAO" ref="adminUserListDAO"/>
    <property name="adminLoginInfoDAO" ref="adminLoginInfoDAO"/>
    <property name="adminRoleInfoDAO" ref="adminRoleInfoDAO"/>
    <property name="commonParameters" ref="commonParameters"/>
    <property name="authentication" ref="authentication" />
  </bean>

  <!-- 建物情報  Model -->
  <bean id="buildingManager" class="jp.co.transcosmos.dm3.core.model.building.BuildingPartThumbnailProxy">
    <property name="buildingManage" ref="buildingManagerTarget" />
    <property name="housingInfoDAO" ref="housingInfoDAO" />
    <property name="housingManage" ref="housingManagerTarget" />
    <property name="thumbnailCreator" ref="thumbnailCreator" />
    <property name="commonParameters" ref="commonParameters" />
    <property name="housingImageInfoDAO" ref="housingImageInfoDAO" />
    <property name="partCreateors">
      <list>
        <ref bean="StationPartCreator" />
      </list>
    </property>
  </bean>
  <bean id="buildingManagerTarget" class="jp.co.transcosmos.dm3.core.model.building.BuildingManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory" />
    <property name="buildingInfoDAO" ref="buildingInfoDAO" />
    <property name="buildingListDAO" ref="buildingListDAO" />
    <property name="buildingInfoDetailDAO" ref="buildingInfoDetailDAO" />
    <property name="buildingStationInfoListDAO" ref="buildingStationInfoListDAO" />
    <property name="buildingLandmarkDAO" ref="buildingLandmarkDAO" />
    <property name="buildingStationInfoDao" ref="buildingStationInfoDao" />
  </bean>

  <!-- 物件情報 Model -->
  <bean id="housingManager" class="jp.co.transcosmos.dm3.core.model.housing.HousingPartThumbnailProxy">
    <property name="housingManage" ref="housingManagerTarget" />
    <property name="housingImageInfoDAO" ref="housingImageInfoDAO" />
    <property name="commonParameters" ref="commonParameters"/>
    <property name="thumbnailCreator" ref="thumbnailCreator"/>
    <property name="partCreateors">
      <list>
        <ref bean="equipPartCreator" />
        <ref bean="mockPartCreator" />
      </list>
    </property>
  </bean>
  
  <bean id="housingManagerTarget" class="jp.co.transcosmos.dm3.core.model.housing.HousingManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory" />
    <property name="buildingManager" ref="buildingManager" />
    <property name="housingInfoDAO" ref="housingInfoDAO" />
    <property name="housingDtlInfoDAO" ref="housingDtlInfoDAO" />
    <property name="housingStatusInfoDAO" ref="housingStatusInfoDAO" />
    <property name="housingEquipInfoDAO" ref="housingEquipInfoDAO" />
    <property name="housingEquipListDAO" ref="housingEquipListDAO" />
    <property name="housingImageInfoDAO" ref="housingImageInfoDAO" />
    <property name="housingExtInfoDAO" ref="housingExtInfoDAO" />
    <property name="housingMainJoinDAO" ref="housingMainJoinDAO" />
    <property name="searchHousingDAO" ref="searchHousingDAO" />
    <property name="imgUtils" ref="imgUtils" />
    <property name="commonParameters" ref="commonParameters"/>
  </bean>

  <!-- お知らせ情報 Model -->
  <bean id="informationManager" class="jp.co.transcosmos.dm3.core.model.information.InformationManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="informationListDAO" ref="informationListDAO"/>
    <property name="informationDAO" ref="informationDAO"/>
    <property name="informationTargetDAO" ref="informationTargetDAO"/>
  </bean>

  <!-- マイページ会員  Model -->
  <bean id="mypageUserManager" class="jp.co.transcosmos.dm3.core.model.mypage.MypageUserManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="memberListDAO" ref="memberListDAO" />
    <property name="userInfoDAO" ref="userInfoDAO" />
    <property name="memberInfoDAO" ref="memberInfoDAO" />
    <property name="passwordRemindDAO" ref="passwordRemindDAO"/>
    <property name="mypageFormFactory" ref="mypageUserFormFactory"/>
    <property name="commonParameters" ref="commonParameters"/>
  </bean>

  <!-- お気に入り情報 Model -->
  <bean id="favoriteManage" class="jp.co.transcosmos.dm3.core.model.favorite.FavoriteManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="favoriteInfoDAO" ref="favoriteInfoDAO"/>
    <property name="housingInfoDAO" ref="housingInfoDAO" />
    <property name="favoriteListDAO" ref="favoriteListDAO"/>
    <property name="userInfoDAO" ref="userInfoDAO"/>
  </bean>

  <!-- 物件リクエスト情報 Model -->
  <bean id="housingRequestManage" class="jp.co.transcosmos.dm3.core.model.housingRequest.HousingRequestManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="commonParameters" ref="commonParameters"/>
    <property name="housingManager" ref="housingManager" />
    <property name="housingFormFactory" ref="housingFormFactory" />
    <property name="memberInfoDAO" ref="memberInfoDAO" />
    <property name="housingRequestInfoDAO" ref="housingRequestInfoDAO"/>
    <property name="housingRequestAreaDAO" ref="housingRequestAreaDAO" />
    <property name="housingReqRouteDAO" ref="housingReqRouteDAO"/>
    <property name="housingReqStationDAO" ref="housingReqStationDAO"/>
    <property name="housingReqKindDAO" ref="housingReqKindDAO"/>
    <property name="housingReqLayoutDAO" ref="housingReqLayoutDAO"/>
    <property name="housingReqPartDAO" ref="housingReqPartDAO"/>
    <property name="prefMstDAO" ref="prefMstDAO"/>
    <property name="addressMstDAO" ref="addressMstDAO"/>
    <property name="routeMstDAO" ref="routeMstDAO"/>
    <property name="stationMstDAO" ref="stationMstDAO"/>
    <property name="stationRouteRelationDAO" ref="stationRouteRelationDAO"/>
    <property name="partSrchMstDAO" ref="partSrchMstDAO"/>
  </bean>

  <bean id="favoriteFormFactory" class="jp.co.transcosmos.dm3.core.model.favorite.form.FavoriteFormFactory"/>
  
  <!-- 問合せヘッダユーティリティ -->
  <bean id="inquiryManageUtils" class="jp.co.transcosmos.dm3.core.model.inquiry.InquiryManageUtils">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="inquiryHeaderDAO" ref="inquiryHeaderDAO"/>
    <property name="inquiryDtlInfoDAO" ref="inquiryDtlInfoDAO"/>
    <property name="inquiryListDAO" ref="inquiryListDAO"/>
  </bean>
  
  <!-- 物件問合せ情報 Model -->
  <bean id="inquiryManage" class="jp.co.transcosmos.dm3.core.model.inquiry.HousingInquiryManageImpl">
    <property name="valueObjectFactory" ref="valueObjectFactory"/>
    <property name="inquiryManageUtils" ref="inquiryManageUtils"/>
    <property name="formFactory" ref="inquiryFormFactory"/>
    <property name="housingManager" ref="housingManager"/>
    <property name="inquiryHousingDAO" ref="inquiryHousingDAO"/>
  </bean>

  <!-- 特集情報 Model -->
  <bean id="featureManage" class="jp.co.transcosmos.dm3.core.model.feature.FeatureManageImpl">
    <property name="featurePageInfoDAO" ref="featurePageInfoDAO"/>
    <property name="featureListDAO" ref="featureListDAO"/>
    <property name="housingManager" ref="housingManager"/>
    <property name="housingFormFactory" ref="housingFormFactory"/>
  </bean>



  <!-- 共通 Bean 定義 -->

  <!-- 共通コード変換クラス -->
  <bean id="codeLookupManager" class="jp.co.transcosmos.dm3.lookup.CodeLookupManager"/>

  <!-- 共通設定情報管理クラス -->
  <bean id="commonParameters" class="jp.co.transcosmos.dm3.core.constant.CommonParameters">
    <property name="adminPageTitle" value="デモ管理ページ" />
    <property name="housImgTempPhysicalPath" value="${user.dir}/junitTest/upload/temp/" />
    <property name="housImgOpenPhysicalPath" value="${user.dir}/junitTest/upload/open/" />
    <property name="thumbnailSizes">
      <list>
        <value>85</value>
        <value>115</value>
        <value>300</value>
        <value>500</value>
      </list>
    </property>
  </bean>

  <!-- ログイン処理の委譲先クラス （認証処理が必要な場合は、ID = authentication　を使用する事。）  -->
  <bean id="authenticationTarget" class="jp.co.transcosmos.dm3.login.v3.DefaultAuth">
    <property name="userDAO" ref="adminLoginInfoDAO" />
    <property name="userDAOUserIdField" value="adminUserId"/>
    <property name="userRoleDAO" ref="adminRoleInfoDAO"/>
    <property name="userRoleDAOUserIdField" value="adminUserId"/>
    <property name="userRoleDAORolenameField" value="roleId"/>
  </bean>

  <!-- ログイン処理（ロック処理対応した認証処理。　認証クラスを使用する場合は、このインスタンスを使用する事。） -->
  <bean id="authentication" class="jp.co.transcosmos.dm3.login.v3.LockSupportAuth">
    <property name="lockChecker">
      <bean class="jp.co.transcosmos.dm3.login.v3.DefaultLockChecker">
        <property name="failInterval" value="10" />
      </bean>
    </property>
    <property name="targetAuth" ref="authenticationTarget" />
    <property name="userDAO" ref="adminLoginInfoDAO" />
  </bean>
  
  <!-- 入力文字列長をカスタマイズした場合、その値を取得する為のユーティリティクラス -->
  <bean id="lengthValidationUtils" class="jp.co.transcosmos.dm3.core.util.LengthValidationUtils">
    <property name="codeLookupManager" ref="codeLookupManager" />
  </bean>

  <!-- サムネイル画像作成クラス -->
  <bean id="imgUtils" class="jp.co.transcosmos.dm3.core.util.imgUtils.ImgUtilImageMagick">
    <property name="convertCommand" value="/ImageMagick-6.9.1-0/convert" />
  </bean>

  <bean id="thumbnailCreator" class="jp.co.transcosmos.dm3.core.util.ThumbnailCreator">
    <property name="imgUtils" ref="imgUtils" />
    <property name="commonParameters" ref="commonParameters" />
    <property name="housingFileNameDAO" ref="housingFileNameDAO" />
  </bean>

  <!-- こだわり条件生成クラス -->
  <bean id="equipPartCreator" class="jp.co.transcosmos.dm3.core.model.partCreator.EquipPartCreator">
    <property name="housingPartInfoDAO" ref="housingPartInfoDAO" />
    <property name="valueObjectFactory" ref="valueObjectFactory" />
    <property name="equipToPart">
      <map>
        <entry key="000001" value="B05"/>
        <entry key="000002" value="B05"/>
        <entry key="000003" value="S10"/>
        <entry key="000004" value="S15"/>
      </map>
    </property>
  </bean>

  <bean id="StationPartCreator" class="jp.co.transcosmos.dm3.core.model.partCreator.StationPartCreator">
    <property name="housingPartInfoDAO" ref="housingPartInfoDAO" />
    <property name="valueObjectFactory" ref="valueObjectFactory" />
  </bean>

  <!-- テストコード用の mock クラス -->
  <bean id="mockPartCreator" class="jp.co.transcosmos.dm3.testUtil.mock.MockPartDataCreator">
    <property name="housingPartInfoDAO" ref="housingPartInfoDAO" />
  </bean>


  <!-- VO、Form の Factory クラス -->
  <bean id="valueObjectFactory" class="jp.co.transcosmos.dm3.core.util.ValueObjectFactory"/>

  <bean id="adminUserFormFactory" class="jp.co.transcosmos.dm3.core.model.adminUser.form.AdminUserFormFactory">
    <property name="codeLookupManager" ref="codeLookupManager" />
    <property name="commonParameters" ref="commonParameters" />
    <property name="lengthUtils" ref="lengthValidationUtils" />
  </bean>

  <bean id="informationFormFactory" class="jp.co.transcosmos.dm3.core.model.information.form.InformationFormFactory">
    <property name="codeLookupManager" ref="codeLookupManager" />
    <property name="lengthUtils" ref="lengthValidationUtils" />
  </bean>

  <bean id="mypageUserFormFactory" class="jp.co.transcosmos.dm3.core.model.mypage.form.MypageUserFormFactory">
    <property name="codeLookupManager" ref="codeLookupManager" />
    <property name="lengthUtils" ref="lengthValidationUtils" />
    <property name="commonParameters" ref="commonParameters" />
  </bean>

  <bean id="housingFormFactory" class="jp.co.transcosmos.dm3.core.model.housing.form.HousingFormFactory"/>
  
  <bean id="inquiryFormFactory" class="jp.co.transcosmos.dm3.core.model.inquiry.form.InquiryFormFactory"/>

  <bean id="requestSearchFormFactory" class="jp.co.transcosmos.dm3.core.model.housingRequest.form.RequestSearchFormFactory" />

  <bean id="featureFormFactory" class="jp.co.transcosmos.dm3.core.model.feature.form.FeatureFormFactory" />

  <bean id="buildingFormFactory" class="jp.co.transcosmos.dm3.core.model.building.form.BuildingFormFactory">
    <property name="codeLookupManager" ref="codeLookupManager" />
    <property name="lengthUtils" ref="lengthValidationUtils" />
  </bean>
  
</beans>



