<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

  <!-- commandURLMapper turns urls into chains of filters and commands that we can execute -->
  <bean id="commandURLMapper" class="jp.co.transcosmos.dm3.servlet.CommandURLMapper">
    <property name="welcomePage"><null /></property>
  </bean>

  <!-- spring dispatching servlet that delegates to mapped FilterCommandChain -->
  <bean id="commandDelegatingController" class="jp.co.transcosmos.dm3.servlet.CommandDelegatingController">
    <property name="commandURLMapper"><ref bean="commandURLMapper"/></property>
  </bean>
  <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props><prop key="/*">commandDelegatingController</prop></props>
    </property>
    <property name="interceptors" ref="rollbackOnExceptionInterceptor"/>
  </bean>
  <bean id="rollbackOnExceptionInterceptor" class="jp.co.transcosmos.dm3.transaction.RollbackOnExceptionInterceptor"/>

  <!--
	メニュー構成情報
	URL 階層は、メニューと直接連動している。　（メニューカテゴリーは、URL 構成には影響しない。）
	/[メニュー Key]/[メニューItem Key]/[任意のフォルダ階層]
	・ menuInfo に設定するメニューページ情報 Map の Key は、「メニュー Key」として使用される。　よって、URL 第1階層に合わせて
	　設定する必要がある。　 (「top」 と設定されている場合、メニュータブのリンクは、「/top」になる。)
	・menuCategorys プロパティに設定するメニューカテゴリー Map の Key は、一意な値であれば何でも良い。
	　（現時点ではロジックでは使用されていない。）
	・menuItems プロパティに設定するメニュー Item Map の Key は、「メニューItem Key」として使用される。　よって、URL 第2階
	　層に合わせて設定する必要がある。
	　 (menuInfo の Key = 「top」 で、menuItems の Key = 「user」の場合、リンクの URL は、/top/user になる。)
	・各メニューオブジェクトの roles を省略した場合、AddMenuCommand の、defaultRoles プロパティが適用される。
	・メニューページ単位でアクセス権を設定する場合、URL に対するアクセス権設定は、別途 HasRoleCheckFilter 等で設定する
	　事。　この機能で制御するのは上段メニューの制御のみなので、ダイレクトにアクセスする事は可能なので注意する事。<br/>
  -->
  <util:map id="menuInfo" map-class="java.util.LinkedHashMap">
    <entry key="top">
      <bean id="topMenuId" class="jp.co.transcosmos.dm3.adminCore.menu.MenuPageInfo">
        <property name="MenuPageName" value="メインメニュー" />
        <property name="MenuPageTitleIamge" value="/cmn/imgs/llnav_002.gif" />
        <property name="menuTabOnImage" value="/cmn/imgs/tnav_001a.gif" />
        <property name="menuTabOffImage" value="/cmn/imgs/tnav_001.gif" />
        <property name="menuCategorys">
          <util:map map-class="java.util.LinkedHashMap">

            <entry key="top1">
              <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuCategoryInfo">
                <property name="menuItemCategoryName" value="お問合せ管理" />
                <property name="menuItems">
                  <util:map map-class="java.util.LinkedHashMap">

                    <entry key="inquiry">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="問合せ検索・一覧" />
                        <property name="menuItemUrl" value="/top/inquiry/list/" />
                      </bean>
                    </entry>

                  </util:map>
                </property>
              </bean>
            </entry>

            <entry key="top2">
              <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuCategoryInfo">
                <property name="menuItemCategoryName" value="物件管理" />
                <property name="menuItems">
                  <util:map map-class="java.util.LinkedHashMap">

                    <entry key="housing">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="物件の検索・一覧" />
                        <property name="menuItemUrl" value="/top/housing/list/" />
                      </bean>
                    </entry>

                  </util:map>
                </property>
              </bean>
            </entry>

            <entry key="top03">
              <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuCategoryInfo">
                <property name="menuItemCategoryName" value="会員管理" />
                <property name="menuItems">
                  <util:map map-class="java.util.LinkedHashMap">

                    <entry key="mypage">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="会員の検索・一覧" />
                        <property name="menuItemUrl" value="/top/mypage/list/" />
                      </bean>
                    </entry>

                    <entry key="information">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="お知らせの検索・一覧" />
                        <property name="menuItemUrl" value="/top/information/list/" />
                      </bean>
                    </entry>
                    
                    <entry key="news">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="List News" />
                        <property name="menuItemUrl" value="/top/news/list/" />
                      </bean>
                    </entry>

                  </util:map>
                </property>
              </bean>
            </entry>

            <entry key="top4">
              <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuCategoryInfo">
                <property name="menuItemCategoryName" value="登録情報変更" />
                <property name="menuItems">
                  <util:map map-class="java.util.LinkedHashMap">

                    <entry key="password">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="パスワード変更" />
                        <property name="menuItemUrl" value="/top/password/input/" />
                      </bean>
                    </entry>

                  </util:map>
                </property>
              </bean>
            </entry>

            <entry key="top5">
              <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuCategoryInfo">
                <property name="menuItemCategoryName" value="マスタ管理" />
                <property name="menuItems">
                  <util:map map-class="java.util.LinkedHashMap">

                    <entry key="admin">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="管理ユーザーメンテナンス" />
                        <property name="menuItemUrl" value="/top/admin/list/" />
                        <property name="roles" value="admin" />
                      </bean>
                    </entry>

                    <entry key="adminlog">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="ログダウンロード" />
                        <property name="menuItemUrl" value="/top/adminlog/list/" />
                        <property name="roles" value="admin" />
                      </bean>
                    </entry>

                    <entry key="address">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="住所コードマスタ取込" />
                        <property name="menuItemUrl" value="/top/address/upload/" />
                      </bean>
                    </entry>

                    <entry key="station">
                      <bean class="jp.co.transcosmos.dm3.adminCore.menu.MenuItemInfo">
                        <property name="menuItemName" value="沿線･駅マスタ取込" />
                        <property name="menuItemUrl" value="/top/station/upload/" />
                      </bean>
                    </entry>

                  </util:map>
                </property>
              </bean>
            </entry>
          </util:map>
        </property>
      </bean>
    </entry>

  </util:map>

</beans>
