@charset "UTF-8";

/*====================================================================
 contents
====================================================================*/
/* index.html
--------------------------------------------------------------------*/
.rearie .titleBlock {
	background: #ffffff url(/sell/rearie/img/index_h1_01.jpg) right top no-repeat;
	border: 1px solid #cccccc;
	height: 140px;
	padding: 35px 40px 40px;
	margin-bottom: 30px;
		
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.rearie .titleBlock h1 {
	font-size: 213%;
	font-weight: bold;
	margin-bottom: 5px;
}
.rearie .titleBlock h1 img {
	vertical-align: middle;
	margin: 0 10px;
}
.rearie .titleBlock p {
	font-size: 106%;
}

.rearie .section01 h2 {
	margin-bottom: 35px;
	font-size: 184%;
	font-weight: bold;
}
.rearie .section01 h2 span {
	color: #f3a900;
	font-size: 138%;
}

.rearie .section01 .column2Block {
	margin-bottom: 35px;
}
.rearie .section01 .column2Block dl {
	float: right;
	width: 445px;
}
.rearie .section01 .column2Block dl:first-child {
	float: left;
}
.rearie .section01 .column2Block dl dt {
	border-bottom: 1px solid #f7bd3b;
	padding-bottom: 13px\9;
	margin-bottom: 2px;
	font-weight: bold;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, .rearie .section01 .column2Block dl dt {
	padding-bottom: 13px;
}
}
.rearie .section01 .column2Block dl dt .number {
	float: left;
	background: #ffffff;
	width: 46px;
	height: 46px;
	border: 1px solid #e39f00;
	border-radius: 23px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	padding-top: 6px;
	color: #e39f00;
	font-size: 213%;
	text-align: center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.rearie .section01 .column2Block dl dt .title {
	float: left;
	width: 389px;
	margin-left: 10px;
	font-size: 148%;
}
.rearie .section01 .column2Block dl dt .title1line {
	float: left;
	margin: 14px 0 0 10px;
	font-size: 148%;
}
.rearie .section01 .column2Block dl dt {
	display: table;
	width: 100%;
}
.rearie .section01 .column2Block dl dd {
	font-size: 113%;
	background: #ffffff;
	padding: 20px 15px;
}
