<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:site.properties" />
  </bean>



  <!-- DB 接続 定義 （MySQL 用）-->
  <bean id="mysqlDS" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="java:comp/env/jdbc/ds_mysql" />
  </bean>


  <!-- 共通設定情報管理クラス -->
  <bean id="commonParameters" class="jp.co.transcosmos.dm3.corePana.constant.PanaCommonParameters">
    <property name="janetUrl" value="https://action.j-a-net.jp//"/>
    <property name="janetMemberSid" value="404221"/>
    <property name="janetAssessmentSid" value="404222"/>
    <property name="inquiryIdPrefix" value="A"/>
	<property name="resourceRootUrl" value="/" />
    <property name="adminPwdUseMarks" value="${admin.usePwdMarks}" />
    <property name="adminPwdMastMarks" value="${admin.usePwdMarks}" />
<!-- マイページで利用可能な記号文字と、必須とする記号文字を設定する事
    <property name="mypagePwdUseMarks" value="" />
    <property name="mypagePwdMastMarks" value="" />
-->
    <property name="adminPageTitle" value="Panasonic管理ページ" />
    <property name="adminLoginUrl" value="https://mng.rearie.jp/login" />
    <property name="mypageLoginUrl" value="https://www.rearie.jp/mypage/login" />
    <property name="mypageTopUrl" value="https://www.rearie.jp/mypage/" />
    <property name="siteURL" value="https://www.rearie.jp" />
<!-- 物件リクエストの登録上限数を 5 以外に設定する場合はプロパティ値を設定する事
    <property name="maxHousingRequestCnt" value="" />
-->
    <property name="housImgTempPhysicalPath" value="/data/invalid/" />
	<property name="housImgOpenPhysicalPath" value="/data/b-fimg/public/" />
    <property name="housImgOpenPhysicalMemberPath" value="/data/b-fimg/private/" />
	<property name="housImgTempUrl" value="/imgs/temp/" />
	<property name="housImgOpenUrl" value="/imgs/public/" />
    <property name="housImgMemberUrl" value="/imgs/private/" />
    <property name="uploadWorkPath" value="/data/b-img/temp_common_upload" />
    <property name="cookieDomain" value="www.rearie.jp" />
    <property name="thumbnailSizes">
      <list>
        <value>86</value>
        <value>110</value>
        <value>200</value>
        <value>800</value>
      </list>
   </property>

   <property name="maxRecentlyInfoCnt" value="15" />
   <property name="maxFavoriteInfoCnt" value="20" />
   <property name="fromEmail" value="system@rearie.jp" />
   <property name="bccEmail" value="rearie-info@gg.jp.panasonic.com" />
   <property name="replyToEmail" value="system@rearie.jp" />
   <property name="errorToEmail" value="system@rearie.jp" />
 
    <property name="defaultKeyword" value="パナソニック,ReaRie,リアリエ,Re2,リー・スクエア,不動産,不動産売買,リフォーム" />
    <property name="defaultDescription" value="中古住宅の購入・売却はパナソニックのReaRie(リアリエ)へご相談下さい。" />
    <property name="panaReSmail" value="パナソニック ReaRie(リアリエ)" />

   <property name="housingListImageSize" value="200" />
   <property name="housingDtlImageLargeSize" value="800" />
   <property name="housingDtlImageSmallSize" value="200" />
   <property name="housingDtlStaffImageSize" value="120" />
   <property name="housingDtlHistoryImageSize" value="86" />
   <property name="housingInquiryImageSize" value="200" />
   <property name="mypageFavoriteImageSize" value="86" />
   <property name="mypageHistoryImageSize" value="86" />

   <property name="fileSiteURL" value="" />
   <property name="commonResourceRootUrl" value="/" />

    <property name="fromEmailName" value="Panasonic ReaRie" />
    <property name="reSmailTel" value="0570-027-040" />
    <property name="reSmailUktskJkn" value="平日 9：00-18：00　/　土曜日 10：00-17：00" />
    <property name="panasonicReSmail" value="【Panasonic ReaRie】" />
    <property name="panasonicReSmailAffairs" value="【Panasonic ReaRie事務局】" />
    <property name="inquiryToEmail" value="system@rearie.jp" />
    <property name="reSmailUrl" value="http://www.rearie.jp/" />

    <property name="noPhoto86" value="imgs/public/nophoto/nophoto_86.jpg" />
    <property name="noPhoto110" value="imgs/public/nophoto/nophoto_110.jpg" />
    <property name="noPhoto200" value="imgs/public/nophoto/nophoto_200.jpg" />
    <property name="noPhoto800" value="imgs/public/nophoto/nophoto_800.jpg" />
  </bean>



  <!-- サムネイル画像作成クラス -->
  <bean id="imgUtils" class="jp.co.transcosmos.dm3.core.util.imgUtils.ImgUtilImageMagick"/>

  <!--
  	mail 送信関連
  	TestReplacingMail は、ローカルデバッグ用のクラス。
  	ローカルデバッグ以外の環境では、ReplacingMail を使用する事。
  -->

  <!-- mail 送信クラス -->
  <bean id="sendMail" class="com.ozacc.mail.impl.SendMailImpl">
    <property name="host"><value>localhost</value></property>
  </bean>

  <!-- システムエラー通知メール -->
  <bean id="errorMailTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/errorMail.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
    <property name="toList">
      <list>
      	<value>product site &lt;pana_portal_si@ml01.trans-cosmos.co.jp&gt;</value>
      </list>
    </property>
    <property name="fromAddress" value="product site &lt;pana_portal_si@ml01.trans-cosmos.co.jp&gt;"/>
  </bean>


  <!-- 管理ユーザーパスワード通知メールテンプレート -->
  <bean id="sendAdminPasswordTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
  <property name="mailTemplateXml" value="/WEB-INF/mail/sendAdminPassword.xml"/>
  <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- マイページ会員パスワード通知メールテンプレート -->
  <bean id="sendMypagePasswordTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
  <property name="mailTemplateXml" value="/WEB-INF/mail/sendMypagePassword.xml"/>
  <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- お知らせ通知メールテンプレート -->
  <bean id="sendInformationTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendInformation.xml" />
    <property name="ozaccMailSender" ref="sendMail" />
  </bean>

  <!-- 査定のお申し込み受領メールテンプレート -->
  <bean id="sendAssessmentInquiryTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendAssessmentInquiry.xml" />
    <property name="ozaccMailSender" ref="sendMail" />
  </bean>

  <!-- 汎用お問い合わせ受領時メールテンプレート -->
  <bean id="sendInquiryGeneralTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendInquiryGeneral.xml" />
    <property name="ozaccMailSender" ref="sendMail" />
  </bean>

  <!-- 物件問合せ受領時通知メールテンプレート -->
  <bean id="sendInquiryHousingMail" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
  <property name="mailTemplateXml" value="/WEB-INF/mail/sendInquiryHousing.xml"/>
  <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- 新規会員登録時（フロント）（顧客）メールテンプレート -->
  <bean id="sendMemberAddTemplate" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendMemberInsert.xml" />
    <property name="ozaccMailSender" ref="sendMail" />
  </bean>

  <!-- パスワード変更通知メールテンプレート -->
  <bean id="sendPasswordRemind" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendPasswordRemind.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

   <!-- パスワード変更完了メールテンプレート -->
  <bean id="sendPasswordResult" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendPasswordResult.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- 物件リクエスト更新通知メールテンプレート(更新用) -->
  <bean id="sendRequestUpdateMansion" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestUpdateMansion.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestUpdateHouse" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestUpdateHouse.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestUpdateLand" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestUpdateLand.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- 物件リクエスト登録通知メールテンプレート(新規用) -->
  <bean id="sendRequestInsertMansion" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestInsertMansion.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestInsertHouse" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestInsertHouse.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestInsertLand" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestInsertLand.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

  <!-- 物件リクエスト削除通知メールテンプレート(削除用) -->
  <bean id="sendRequestDeleteMansion" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestDeleteMansion.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestDeleteHouse" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestDeleteHouse.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>
  <bean id="sendRequestDeleteLand" class="jp.co.transcosmos.dm3.mail.ReplacingMail" scope="prototype">
    <property name="mailTemplateXml" value="/WEB-INF/mail/sendRequestDeleteLand.xml"/>
    <property name="ozaccMailSender" ref="sendMail"/>
  </bean>

</beans>