<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

  <!-- commandURLMapper turns urls into chains of filters and commands that we can execute -->
  <bean id="commandURLMapper" class="jp.co.transcosmos.dm3.servlet.CommandURLMapper">
    <property name="welcomePage"><null /></property>
  </bean>

  <!-- spring dispatching servlet that delegates to mapped FilterCommandChain -->
  <bean id="commandDelegatingController" class="jp.co.transcosmos.dm3.servlet.CommandDelegatingController">
    <property name="commandURLMapper"><ref bean="commandURLMapper"/></property>
  </bean>
  <bean id="defaultServletHttpRequestHandler" 
    class="org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler" />
	
  <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="mappings">
      <props>
		<prop key="/**/*.*">defaultServletHttpRequestHandler</prop>
		<prop key="/*">commandDelegatingController</prop></props>
    </property>
    <property name="interceptors" ref="rollbackOnExceptionInterceptor"/>
  </bean>
  <bean id="rollbackOnExceptionInterceptor" class="jp.co.transcosmos.dm3.transaction.RollbackOnExceptionInterceptor"/>

</beans>